Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

chore(dependencies): update package-lock.json to include regexp-tree and safe-regex
  package-lock.json
Due: prettier --write

test(permission-manager): remove unnecessary whitespace in history size limit test
  server/src/test/services/permission-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 78: Regular expression injection
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 74: Regular expression injection
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat(security): enhance environment variable management and security settings
  macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/SettingsManager.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
  server/src/services/command-security.js
  server/src/services/tunnel.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor(security-settings): streamline UI structure and improve code readability
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
  server/src/services/tunnel.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/tunnel.js
  server/src/services/tunnel.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/command-security.js
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
  macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
Due: none

refactor(command-security): introduce regex prefix constant for improved pattern filtering
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

enhance(command-security): improve regex safety checks and validation
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor(command-security): enhance pattern validation to reject regex metacharacters
  USER_TESTING_NOTES.md
  server/src/services/command-security.js
  server/src/test/services/command-security.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(push-notification): add markdown stripping functionality for cleaner notifications
  server/src/services/command-security.js
  server/src/services/push-notification.js
  server/src/test/services/push-notification-markdown.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix(push-notification): resolve message formatting issues in notifications
  USER_TESTING_NOTES.md
  server/src/test/services/push-notification-markdown.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

docs: update user testing notes to include new iPad settings icon issue
  USER_TESTING_NOTES.md
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor(security-settings): update section headers for improved clarity
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
Due: none

refactor(security-settings): format section header and footer for better readability
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
Due: none

ci: allow macOS tests to continue on error
  .github/workflows/ci.yml
Due: none

refactor(server-management): enhance process output handling and server discovery
  macos-app/.env.example
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/ServerDiscovery.swift
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  macos-app/AICLICompanionHost/Models/SettingsManager.swift
  macos-app/AICLICompanionHostTests/AICLICompanionHostTests.swift
  macos-app/AICLICompanionHostTests/NotificationManagerTests.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProcessTests.swift
  macos-app/BUILD_SCRIPTS.md
  macos-app/TESTING_ANALYSIS.md
  macos-app/test-no-sign.sh
  macos-app/test-with-auth.sh
  macos-app/test-with-env.sh
  macos-app/unlock-keychain.sh
Due: prettier --write

refactor(process-output): streamline URL pattern recognition and clean up code
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/ServerDiscovery.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
Due: none

refactor(test-coverage): improve macOS app test coverage and fix failing tests
  plan.md
Due: prettier --write

refactor(tests): enhance test coverage and logging for server management
  .github/workflows/ci.yml
  .gitignore
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/AICLICompanionHost/Models/ServerDiscovery.swift
  macos-app/AICLICompanionHost/ViewModels/ActivityMonitorViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/MenuBarViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/SecuritySettingsViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/SettingsViewModel.swift
  macos-app/AICLICompanionHostTests/ActivityMonitorViewModelTests.swift
  macos-app/AICLICompanionHostTests/Helpers/ViewTestHelpers.swift
  macos-app/AICLICompanionHostTests/MenuBarViewModelTests.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/SecuritySettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/ServerDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerLoggingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerNetworkingTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/SettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/Views/ActivityMonitorViewTests.swift
  macos-app/AICLICompanionHostTests/Views/MenuBarViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SecuritySettingsViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SettingsViewTests.swift
  plan.md
Due: prettier --write

refactor(viewmodels): clean up whitespace and improve code organization
  macos-app/AICLICompanionHost/ViewModels/ActivityMonitorViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/MenuBarViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/SecuritySettingsViewModel.swift
  macos-app/AICLICompanionHost/ViewModels/SettingsViewModel.swift
Due: none

refactor(security-settings): enhance command validation and sanitization
  macos-app/AICLICompanionHost/ViewModels/SecuritySettingsViewModel.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerAdvancedTests.swift
Due: none

refactor(tests): clean up whitespace and improve test organization
  macos-app/AICLICompanionHostTests/AICLICompanionHostTests.swift
  macos-app/AICLICompanionHostTests/ActivityMonitorViewModelTests.swift
  macos-app/AICLICompanionHostTests/ExecutableDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/Helpers/ViewTestHelpers.swift
  macos-app/AICLICompanionHostTests/KeychainManagerTests.swift
  macos-app/AICLICompanionHostTests/MenuBarViewModelTests.swift
  macos-app/AICLICompanionHostTests/Mocks/MockKeychainManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNetworkMonitor.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNotificationManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockProcess.swift
  macos-app/AICLICompanionHostTests/Mocks/MockServerManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockSettingsManager.swift
  macos-app/AICLICompanionHostTests/Mocks/TestDataFactory.swift
  macos-app/AICLICompanionHostTests/NetworkMonitorTests.swift
  macos-app/AICLICompanionHostTests/NotificationManagerTests.swift
  macos-app/AICLICompanionHostTests/ProcessConfigurationTests.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/SecuritySettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/ServerDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerLoggingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerNetworkingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProcessTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/ServerTypesTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/SettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/Views/ActivityMonitorViewTests.swift
  macos-app/AICLICompanionHostTests/Views/MenuBarViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SecuritySettingsViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SettingsViewTests.swift
Due: none

fix(tests): add missing newlines at end of test files
  macos-app/AICLICompanionHost/.swiftlint.yml
  macos-app/AICLICompanionHostTests/AICLICompanionHostTests.swift
  macos-app/AICLICompanionHostTests/ActivityMonitorViewModelTests.swift
  macos-app/AICLICompanionHostTests/ExecutableDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/Helpers/ViewTestHelpers.swift
  macos-app/AICLICompanionHostTests/KeychainManagerTests.swift
  macos-app/AICLICompanionHostTests/MenuBarViewModelTests.swift
  macos-app/AICLICompanionHostTests/Mocks/MockKeychainManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNetworkMonitor.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNotificationManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockProcess.swift
  macos-app/AICLICompanionHostTests/Mocks/MockServerManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockSettingsManager.swift
  macos-app/AICLICompanionHostTests/Mocks/TestDataFactory.swift
  macos-app/AICLICompanionHostTests/NetworkMonitorTests.swift
  macos-app/AICLICompanionHostTests/NotificationManagerTests.swift
  macos-app/AICLICompanionHostTests/ProcessConfigurationTests.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/SecuritySettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/ServerDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerLoggingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerNetworkingTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProcessTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/ServerTypesTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerAdvancedTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/SettingsViewModelTests.swift
  macos-app/AICLICompanionHostTests/Views/ActivityMonitorViewTests.swift
  macos-app/AICLICompanionHostTests/Views/MenuBarViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SecuritySettingsViewTests.swift
  macos-app/AICLICompanionHostTests/Views/SettingsViewTests.swift
Due: none

feat(push-notifications): implement message recovery and retry mechanism
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  plan.md
Due: swiftlint lint --format, prettier --write

refactor(push-notifications): simplify notification handling and remove recovery mechanisms
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  plan.md
Due: swiftlint lint --format, prettier --write

refactor(app-delegate): modify notification permission request behavior and update footer button actions
  macos-app/AICLICompanionHost/App/AppDelegate.swift
  macos-app/AICLICompanionHost/Views/MenuBarSections.swift
Due: none

feat: complete local-first architecture and remove BackgroundSessionCoordinator
  CHANGELOG.md
  CLAUDE.md
  README.md
  USER_TESTING_NOTES.md
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Sources/AICLICompanion/MessagePersistenceService.swift
  ios/Sources/AICLICompanion/Services/BackgroundSessionCoordinator.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Settings.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  plan.md
  server/src/routes/chat.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

fix: save user messages immediately on send, even without session ID
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

fix: add temporary session migration for background APNS responses
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
Due: swiftlint lint --format

refactor: simplify APNS to single unified handler with basic notification suppression
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
Due: swiftlint lint --format

fix: eliminate temporary sessions - implement direct fresh chat handling
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

fix: fresh session detection must check BEFORE saving Claude message
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
Due: swiftlint lint --format

refactor: simplify APNS handling and enhance message loading in ChatViewModel
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  plan.md
Due: swiftlint lint --format, prettier --write

refactor: streamline ChatViewModel and notification handling
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Services/MessageFetchService.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  macos-app/AICLICompanionHost/Views/QRCodeView.swift
  server/src/routes/aicli-status.js
  server/src/routes/chat.js
  server/src/services/aicli-message-handler.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli-utils.js
  server/src/services/push-notification.js
  server/src/test/config/server-startup.test.js
  server/src/test/middleware/security.test.js
  server/src/test/routes/aicli-status.test.js
  server/src/test/routes/auth.test.js
  server/src/test/routes/chat.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/routes-coverage.test.js
  server/src/test/services/aicli-utils.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

chore: update CI configuration for iOS Simulator and runtime installation
  .github/workflows/ci.yml
Due: none

Update macos-app/AICLICompanionHost/Views/QRCodeView.swift
  macos-app/AICLICompanionHost/Views/QRCodeView.swift
Due: none
