Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Add user test notes and manual testing guide for beta preparation
  USER_TEST_NOTES.md
  plan.md
Due: prettier --write

Update plan.md: Replace status indicator TODO with scroll UX issue
  plan.md
Due: prettier --write

Add user test notes documenting iOS project status indicator issue
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Models/ServerModels.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/AICLI/ProjectManager.swift
  plan.md
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Refactor AICLI Companion Beta Readiness Plan for TestFlight Launch
  plan.md
Due: prettier --write

Refactor AICLI Companion Beta Readiness Plan for TestFlight Launch
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  issues/11-scroll-sticky.md
  issues/12-ipad-layout.md
  issues/13-convo-load.md
  issues/6-chat-scroll.md
Due: swiftlint lint --format, prettier --write

Update USER_TEST_NOTES.md and Chat UI Components for Attachment Handling
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/Components/TopBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  issues/13-convo-load.md
  issues/15-settings-navigation.md
Due: swiftlint lint --format, prettier --write

Refactor SettingsView and ChatViewModel for Beta Readiness
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/16-attachments.md
  issues/17-hide-incomplete.md
Due: swiftlint lint --format, prettier --write

fix: resolve silent message processing failures (Issue #14)
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  issues/14-long-message.md
  server/src/middleware/error.js
  server/src/routes/chat.js
  server/src/services/aicli-message-handler.js
  server/src/services/push-notification.js
  server/src/utils/validation.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

fix: resolve attachment UI cutoff issue (Issue #15)
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Tests/AttachmentPickerTest.swift
  issues/15-attachment-ui-cutoff.md
Due: swiftlint lint --format, prettier --write

docs: add critical authentication testing matrix for beta
  USER_TEST_NOTES.md
Due: prettier --write

fix: remove redundant path display from chat header (Issue #20)
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  issues/20-path-message.md
Due: swiftlint lint --format, prettier --write

feat: enhance connection management and UI feedback in iOS app
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  issues/18-connection-flow.md
  issues/19-network-qr.md
  issues/21-connect-status.md
  server/src/routes/auth.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Potential fix for code scanning alert no. 85: Uncontrolled data used in path expression
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/routes/projects.js
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/routes/chat.js
  server/src/routes/chat.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/aicli-message-handler.js
  server/src/services/aicli-message-handler.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor error handling and validation in project routes and middleware
  server/src/routes/projects.js
  server/src/services/aicli-message-handler.js
  server/src/test/middleware/error.test.js
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Enhance CLAUDE.md and USER_TEST_NOTES.md for improved project management
  CLAUDE.md
  USER_TEST_NOTES.md
  issues/1-project-status-indicator.md
  issues/10-clickable-file-links.md
  issues/2-cloudkit-integration.md
  issues/22-root-directory-chat.md
  issues/23-duplicate-messages.md
  issues/24-attachments-session.md
  issues/25-false-timeout-alerts.md
  issues/26-prevent-double-send.md
  issues/27-kill-claude-operation.md
  issues/3-message-queue.md
  issues/4-auto-iteration.md
  issues/5-message-summarization.md
  issues/7-claude-environment.md
  issues/8-app-load-freezing.md
  issues/complete-11-scroll-sticky.md
  issues/complete-12-ipad-layout.md
  issues/complete-13-convo-load.md
  issues/complete-14-long-message.md
  issues/complete-15-attachment-ui-cutoff.md
  issues/complete-16-attachments.md
  issues/complete-17-hide-incomplete.md
  issues/complete-18-connection-flow.md
  issues/complete-19-network-qr.md
  issues/complete-20-path-message.md
  issues/complete-21-connect-status.md
  issues/complete-6-chat-scroll.md
  issues/complete-9-settings-navigation.md
  issues/template.md
Due: prettier --write

Implement session ID management and enhance message handling in AICLI
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  issues/1-project-status-indicator.md
  issues/15-attachment-ui-cutoff.md
  issues/28-activity-monitoring-logs.md
  issues/29-ios-heartbeat-status.md
  issues/30-detect-claude-stalls.md
  issues/31-planning-mode.md
  issues/32-attachment-feature-flag.md
  issues/complete-24-attachments-session.md
  issues/complete-25-false-timeout-alerts.md
  server/.env.example
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Enhance message loading logic to prevent duplicates during refresh
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatMessageManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/complete-23-duplicate-messages.md
Due: swiftlint lint --format, prettier --write

Remove deprecated issue files and enhance project organization
  issues/33-duplicate-logging.md
  issues/done/complete-11-scroll-sticky.md
  issues/done/complete-12-ipad-layout.md
  issues/done/complete-13-convo-load.md
  issues/done/complete-14-long-message.md
  issues/done/complete-16-attachments.md
  issues/done/complete-17-hide-incomplete.md
  issues/done/complete-18-connection-flow.md
  issues/done/complete-19-network-qr.md
  issues/done/complete-20-path-message.md
  issues/done/complete-21-connect-status.md
  issues/done/complete-23-duplicate-messages.md
  issues/done/complete-24-attachments-session.md
  issues/done/complete-25-false-timeout-alerts.md
  issues/done/complete-6-chat-scroll.md
  issues/done/complete-9-settings-navigation.md
Due: prettier --write

feat: add feature flag to disable attachments for beta release
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  issues/15-attachment-ui-cutoff.md
  issues/complete-32-attachment-feature-flag.md
Due: swiftlint lint --format, prettier --write

feat: implement project status indicators with WebSocket integration
  CLAUDE.md
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/1-project-status-indicator.md
  issues/34-chat-scrolling-ux.md
  issues/complete-35-claude-responses-slow-missing.md
  issues/done/complete-26-prevent-double-send.md
  issues/done/complete-32-attachment-feature-flag.md
  server/src/config/middleware-config.js
  server/src/index.js
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Refactor app initialization and enhance service management
  ios/App/AppMain.swift
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Models/Project+Status.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Services/WebSocketManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/36-long-running-apns-failures.md
  issues/done/complete-1-project-status-indicator.md
  issues/done/complete-29-ios-heartbeat-status.md
  issues/done/complete-34-chat-scrolling-ux.md
  issues/done/complete-35-claude-responses-slow-missing.md
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/tunnel.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Refactor app initialization and service management for improved performance
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/DependencyContainer.swift
  ios/Sources/AICLICompanion/Services/PerformanceMonitor.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  issues/done/complete-37-typing-bubble-delay.md
  issues/done/complete-38-ui-lag-input-buffering.md
Due: swiftlint lint --format, prettier --write

Implement session management features for terminating Claude operations
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/AICLI/SessionManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/27-kill-claude-operation.md
  issues/done/complete-27-kill-claude-operation.md
  issues/done/complete-28-activity-monitoring-logs.md
  issues/done/complete-30-detect-claude-stalls.md
  issues/done/complete-33-duplicate-logging.md
  issues/done/complete-36-long-running-apns-failures.md
  issues/done/complete-39-streaming-response-broken.md
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Refactor session management and project status handling
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Models/Project+Status.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/done/complete-40-iphone-stop-button-not-working.md
  issues/done/complete-41-clear-chat-not-clearing-server-session.md
  issues/done/complete-42-stop-button-stuck-after-response.md
Due: swiftlint lint --format, prettier --write

Remove test-auth.sh script and refactor app initialization for performance improvements
  ios/App/AppMain.swift
  ios/App/Info.plist
  ios/App/LaunchScreen.storyboard
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Utils/PerformanceLogger.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  issues/8-app-load-freezing.md
  issues/done/complete-8-app-load-freezing.md
  test-auth.sh
Due: swiftlint lint --format, prettier --write

Refactor WebSocket and chat processing logic for improved readability and performance
  server/src/index.js
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Add missing properties to middleware config tests
  server/src/test/config/middleware-config.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update CI workflow to build for iOS Simulator instead of macOS
  .github/workflows/ci.yml
Due: none

Update CI workflow and package configuration for iOS App build
  .github/workflows/ci.yml
  ios/Package.swift
Due: swiftlint lint --format

Update CI workflow to improve iOS build and testing process
  .github/workflows/ci.yml
Due: none

Update CI workflow to select appropriate Xcode version dynamically
  .github/workflows/ci.yml
Due: none

Refactor WebSocket and notification handling for improved memory management
  ios/Sources/AICLICompanion/Services/WebSocketManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
Due: swiftlint lint --format

Enhance CI workflow and iOS build process for improved reliability
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Models/Project+Status.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/PerformanceMonitor.swift
  ios/Sources/AICLICompanion/Services/WebSocketManager.swift
  ios/Sources/AICLICompanion/Utils/PerformanceLogger.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/MessageBubble/MarkdownParser.swift
  ios/Tests/AICLICompanionTests/AICLICompanionTests.swift
  ios/Tests/AICLICompanionTests/BasicTests.swift
  ios/Tests/AICLICompanionTests/Components/ButtonComponentTests.swift
  ios/Tests/AICLICompanionTests/MinimalTests.swift
  ios/Tests/AICLICompanionTests/Models/MessageTests.swift
  ios/Tests/AICLICompanionTests/Services/ConversationPersistenceServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/HTTPAICLIServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/MessagePersistenceServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageValidatorTests.swift
  ios/Tests/AICLICompanionTests/Services/PushNotificationServiceIntegrationTests.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockAICLIService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockMessagePersistenceService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockWebSocketService.swift
  ios/Tests/AICLICompanionTests/ViewModels/ChatViewModelProjectIsolationTests.swift
  ios/Tests/AICLICompanionTests/ViewModels/ChatViewModelTests.swift
  ios/Tests/AICLICompanionTests/Views/ChatViewTests.swift
  ios/Tests/AICLICompanionTests/Views/ContentViewTests.swift
  ios/Tests/AICLICompanionTests/Views/SettingsViewTests.swift
Due: swiftlint lint --format

Update Package.swift to streamline dependencies and test target configuration
  ios/Package.swift
Due: swiftlint lint --format

Refactor CI workflow for enhanced iOS build and testing efficiency
  ios/Tests/AICLICompanionTests/Models/MessageCoreTests.swift
  ios/Tests/AICLICompanionTests/Models/ProjectStatusTests.swift
Due: swiftlint lint --format

Enhance platform adaptability and improve UI components
  ios-test-coverage-plan.md
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/Services/MessageValidator.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Tests/AICLICompanionTests/Models/ProjectStatusTests.swift
  ios/Tests/AICLICompanionTests/Models/RichContentTests.swift
  ios/Tests/AICLICompanionTests/Models/SecuritySettingsTests.swift
  ios/Tests/AICLICompanionTests/Models/ServerModelsTests.swift
  ios/Tests/AICLICompanionTests/Models/WebSocketModelsTests.swift
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageValidatorTests.swift
  ios/Tests/AICLICompanionTests/Services/PerformanceLoggerTests.swift
Due: swiftlint lint --format, prettier --write

Path conditions:
  cd server && npx prettier --write: any of: server/src/**/*.js
  cd server && npx eslint --fix: any of: server/src/**/*.js
  swiftlint lint --format: any of: ios/**/*.swift
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
