Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

fix: skip Husky installation in CI environments
  package.json
Due: prettier --write

fix: apply Rust formatting and improve pre-commit hook
  package.json
  server/hostapp/src-tauri/src/lib.rs
  server/hostapp/src-tauri/src/main.rs
Due: prettier --write

fix: complete Rust setup and formatting fixes
  package.json
  server/hostapp/src-tauri/Cargo.lock
  server/hostapp/src-tauri/Cargo.toml
  server/hostapp/src-tauri/build.rs
  server/hostapp/src-tauri/src/lib.rs
  server/hostapp/src-tauri/src/main.rs
Due: prettier --write

fix: resolve CI failures and pre-commit hook issues
  .github/workflows/ci.yml
  .husky/pre-commit
  server/hostapp/src-tauri/src/main.rs
Due: none

fix: update webkit2gtk package name for Ubuntu 24.04
  .github/workflows/ci.yml
Due: none

fix: resolve all Rust clippy warnings and add to pre-commit
  package.json
  server/hostapp/src-tauri/src/lib.rs
Due: prettier --write

fix: add missing newline at end of lib.rs
  server/hostapp/src-tauri/src/lib.rs
Due: none

refactor: update CI configuration and improve logging in app-core.js
  .github/workflows/ci.yml
  server/hostapp/package.json
  server/hostapp/src-tauri/icons/128x128.png
  server/hostapp/src-tauri/icons/128x128@2x.png
  server/hostapp/src-tauri/icons/32x32.png
  server/hostapp/src-tauri/icons/generate-icons.sh
  server/hostapp/src-tauri/icons/icon.png
  server/hostapp/src-tauri/icons/update-icon.py
  server/hostapp/src-tauri/new-icon.png
  server/hostapp/src-tauri/tauri.conf.json
  server/hostapp/src/app-core.js
  server/hostapp/src/app.js
  server/hostapp/test/app-core.test.js
Due: prettier --write

refactor: comment out host app CI steps for cleaner configuration
  .github/workflows/ci.yml
Due: none

refactor: simplify CI configuration by removing host app dependencies
  .github/workflows/ci.yml
Due: none

feat: Add project-based Claude CLI integration
  server/hostapp/index.html
  server/hostapp/src-tauri/src/lib.rs
  server/hostapp/src-tauri/src/main.rs
  server/hostapp/src/app-core.js
  server/hostapp/src/styles.css
  server/src/config/server-config.js
  server/src/index.js
  server/src/routes/index.js
  server/src/routes/projects.js
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: resolve all ESLint and Prettier formatting issues
  server/src/routes/index.js
  server/src/routes/projects.js
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 18: Missing rate limiting
  server/package.json
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

Update server/src/routes/projects.js
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/routes/index.js
  server/src/routes/index.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: fix test suite with proper unit tests
  server/package.json
  server/src/test/config/server-startup.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

fix: sync package-lock.json with package.json dependencies
  server/package.json
Due: prettier --write

feat: add express-rate-limit and enhance project route tests
  package-lock.json
  server/hostapp/test/app-core.test.js
  server/package.json
  server/src/test/routes/projects.test.js
  server/src/test/routes/routes-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: update linting commands and improve test formatting
  package.json
  server/hostapp/src-tauri/Cargo.toml
  server/src/test/config/server-startup.test.js
  server/src/test/routes/projects.test.js
  server/src/test/routes/routes-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat: implement project selection flow with Claude CLI integration
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/Message.swift
  ios/Sources/ClaudeCompanion/ProjectSelectionView.swift
  ios/Sources/ClaudeCompanion/SettingsManager.swift
  server/hostapp/src-tauri/Cargo.lock
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format

feat: complete Claude CLI integration flow from project selection to chat
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/Components/Buttons/PrimaryButton.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Colors.swift
  ios/Sources/ClaudeCompanion/ProjectSelectionView.swift
  server/src/index.js
  server/src/routes/projects.js
  server/src/services/claude-code.js
  server/src/services/websocket.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format

fix: update frame heights to prevent NaN CoreGraphics errors
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/Components/SettingsTile.swift
  ios/Sources/ClaudeCompanion/Components/TopBar.swift
  ios/Sources/ClaudeCompanion/ProjectSelectionView.swift
Due: swiftlint lint --fix --format

fix: clear error message when projects load successfully
  ios/Sources/ClaudeCompanion/ProjectSelectionView.swift
Due: swiftlint lint --fix --format

fix: correct createInteractiveSession call parameters
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: handle assistantMessage type from server in iOS app
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: correct WebSocket message handling for Claude commands
  server/src/services/claude-code.js
  server/src/services/websocket.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: add comprehensive WebSocket message handling in iOS app
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
Due: swiftlint lint --fix --format

fix: correct StreamContent text extraction in ChatView
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: resolve Swift weak self warning in setupWebSocketListeners
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: properly handle weak self capture in setupWebSocketListeners
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: use Swift 5.7 guard let syntax to resolve mutation warning
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: move weak self capture to inner async block
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: use explicit self assignment in guard to resolve compiler warning
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: use unowned self to avoid compiler warning
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

fix: use explicit self capture in struct closure
  ios/Sources/ClaudeCompanion/ChatView.swift
Due: swiftlint lint --fix --format

feat: add comprehensive debug logging for Claude command flow
  server/src/services/claude-code.js
  server/src/services/websocket.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: add WebSocket message send debugging
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
Due: swiftlint lint --fix --format

feat: implement liberal permission detection and approval system
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ClaudeCodeService.swift
  ios/Sources/ClaudeCompanion/Message.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
  server/README.md
  server/hostapp/index.html
  server/hostapp/src-tauri/Cargo.lock
  server/hostapp/src-tauri/Cargo.toml
  server/hostapp/src-tauri/src/lib.rs
  server/hostapp/src-tauri/src/main.rs
  server/hostapp/src/app-core.js
  server/hostapp/src/styles.css
  server/src/config/server-config.js
  server/src/index.js
  server/src/routes/claude-status.js
  server/src/routes/projects.js
  server/src/services/claude-code.js
  server/src/services/websocket.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

fix: resolve ESLint errors and formatting issues
  server/src/index.js
  server/src/routes/claude-status.js
  server/src/routes/projects.js
  server/src/services/claude-code.js
  server/src/services/websocket.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

chore: only run pre-commit hooks on develop and main branches
  .husky/pre-commit
Due: none

Path conditions:
  cd server && npx prettier --write: any of: server/src/**/*.js
  cd server && npx eslint --fix: any of: server/src/**/*.js
  swiftlint lint --fix --format: any of: ios/**/*.swift
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
