Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

feat: implement enhanced auto-response system with AI integration
  .env.example
  README.md
  USER_TEST_NOTES.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/api/API.md
  docs/development/setup.md
  docs/development/testing.md
  docs/ios/auto-response-system.md
  docs/platform-guides/ios-guide.md
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Core/Utilities/ProjectUUIDConverter.swift
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/Models/AutoReplySettings.swift
  ios/Sources/AICLICompanion/Models/AutoReplySettingsStore.swift
  ios/Sources/AICLICompanion/Models/AutoResponseConfig.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Views/AutoReplySettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AutoReplyStatusBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/083025-34-enhanced-auto-response.md
  issues/083025-7-claude-environment.md
  issues/done/complete-091125-claude-5-minute-timeout.md
  server/.env.example
  server/package.json
  server/src/handlers/chat-message-handler.js
  server/src/middleware/security.js
  server/src/routes/chat.js
  server/src/services/agent-context.js
  server/src/services/ai-response-generator.js
  server/src/services/autonomous-agent.js
  server/src/services/message-analyzer.js
  server/src/services/response-templates.js
  server/src/services/training-data-manager.js
  server/src/test/services/ai-response-generator.test.js
  server/src/test/services/autonomous-agent.test.js
  server/src/test/services/message-analyzer.test.js
  server/src/test/services/response-templates.test.js
  server/src/test/services/training-data-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

feat: update documentation and feature flags for Enhanced Auto-Response System
  docs/FEATURES.md
  ios/README.md
Due: prettier --write

refactor: restructure auto-reply settings for per-project configuration
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/Models/AutoReplySettings.swift
  ios/Sources/AICLICompanion/Models/AutoReplySettingsStore.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
  ios/Sources/AICLICompanion/Views/AutoReplySettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AutoReplyStatusBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  issues/083025-34-enhanced-auto-response.md
Due: swiftlint lint --format, prettier --write

docs: update FEATURES.md to reflect changes in Auto-Response System visibility
  docs/FEATURES.md
Due: prettier --write

docs: update FEATURES.md for version 2.1.1 release
  docs/FEATURES.md
  server/package-lock.json
Due: prettier --write

docs: document critical issues for quick fixes
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/Settings.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  issues/091225-1-missing-thinking-indicator-queued-messages.md
  issues/091225-10-missing-notifications.md
  issues/091225-11-project-list-refresh.md
  issues/091225-12-unsent-message-loss.md
  issues/091225-13-ipad-badge-clearing.md
  issues/091225-14-message-delivered-but-chat-stuck-thinking.md
  issues/091225-2-auto-reply-ui-showing-when-disabled.md
  issues/091225-3-revisit-dangerous-flag-restrictions.md
  issues/091225-4-settings-overhaul.md
  issues/091225-5-chat-ui-instability.md
  issues/091225-6-app-reload-lockout.md
  issues/091225-7-ipad-keyboard-bug.md
  issues/091225-8-planning-mode-persistence.md
  issues/091225-9-keyboard-dismissal.md
  issues/future_features/083025-15-attachment-ui-cutoff.md
  issues/future_features/083025-34-enhanced-auto-response.md
  issues/future_features/083025-37-macos-development-companion.md
  issues/future_features/091025-1-developer-quick-actions.md
  issues/future_features/091025-2-project-creation-bug.md
  quick_fixes_1.plan
Due: swiftlint lint --format, prettier --write
