Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --fix --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

refactor: streamline AICLIService by consolidating utility functions
  server/src/services/aicli-utils.js
  server/src/services/aicli.js
  server/src/test/services/aicli-utils.test.js
  server/src/test/services/aicli.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 30: Missing rate limiting
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 29: Missing rate limiting
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 28: Use of externally-controlled format string
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: correct formatting in rate limit message for aicli-status route
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: improve error handling in aicli-status route
  server/src/test/services/aicli-simple.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: enhance AICLIService by integrating AICLIMessageHandler
  server/src/services/aicli-message-handler.js
  server/src/services/aicli.js
  server/src/test/services/aicli-simple.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

chore: update service reference in .c8rc.json from claude-code.js to aicli.js
  server/.c8rc.json
Due: prettier --write

feat: add isPermissionPrompt method to AICLIService
  server/src/services/aicli.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/aicli-utils.js
  server/src/services/aicli-utils.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update error messages in AICLI input validation tests
  server/src/test/services/aicli-utils.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

chore: update CI workflow to reference AICLICompanion project
  .github/workflows/ci.yml
  server/src/test/services/aicli-utils.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: enhance dialog interactions and session management in app-core.js
  server/hostapp/src/app-core.js
Due: none

Fix white screen issue on first project selection
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/ChatView.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/MessagePersistenceService.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/SessionContinuationSheet.swift
Due: swiftlint lint --fix --format

Potential fix for code scanning alert no. 31: Use of externally-controlled format string
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 17: Missing rate limiting
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/routes/projects.js
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: implement push notification support and streaming enhancements
  STREAMING_IMPLEMENTATION.md
  ios/App/AppMain.swift
  ios/App/Info.plist
  ios/Sources/AICLICompanion/ChatView.swift
  ios/Sources/AICLICompanion/ClaudeResponseStreamer.swift
  ios/Sources/AICLICompanion/ClipboardManager.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/PushNotificationService.swift
  ios/Sources/AICLICompanion/WebSocketService.swift
  server/src/routes/projects.js
  server/src/services/aicli.js
  server/src/services/stream-parser.js
  server/src/services/websocket.js
  server/src/test/services/stream-parser.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

refactor: update test structure in stream-parser tests
  server/src/test/services/stream-parser.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: improve test organization and readability in stream-parser tests
  server/src/test/services/claude-output-parser.test.js
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update mock function syntax in push notification tests
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: standardize mock function syntax in push notification tests
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update README and documentation for Claude Companion
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  docs/features/push-notifications-backend.md
  docs/features/session-persistence.md
  docs/features/streaming-and-notifications.md
  docs/getting-started/quickstart.md
  server/README.md
Due: prettier --write

feat: add push notification support for long-running tasks
  server/docs/long-running-task-recovery.md
  server/src/services/aicli.js
  server/src/services/message-queue.js
  server/src/services/push-notification.js
  server/src/services/websocket.js
  server/src/test/services/message-queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: restructure MessageQueueService and enhance test coverage
  server/src/services/message-queue.js
  server/src/test/services/message-queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: enhance MessageQueueService tests for clarity and coverage
  server/src/test/services/message-queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: remove ChatView and enhance WebSocket service architecture
  ios/Sources/AICLICompanion/ChatView.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/Services/Chat/ChatSessionManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatLoadingView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  server/src/routes/projects.js
  server/src/services/aicli-long-running-task-manager.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli-validation-service.js
  server/src/services/aicli.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-event-broadcaster.js
  server/src/services/websocket-message-handlers.js
  server/src/services/websocket-message-router.js
  server/src/services/websocket-original.js
  server/src/services/websocket-utilities.js
  server/src/services/websocket.js
  server/src/test/services/aicli.test.js
  server/src/test/services/websocket.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format

refactor: simplify JSON validation and enhance session management in tests
  server/src/services/aicli-validation-service.js
  server/src/test/services/aicli-long-running-task-manager.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-validation-service.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/websocket-connection-manager.test.js
  server/src/test/services/websocket-message-router.test.js
  server/src/test/services/websocket-utilities.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update project structure and enhance session management
  .gitignore
  server/package-lock.json
  server/server.out
  server/src/routes/projects.js
  server/src/services/aicli-long-running-task-manager.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli-validation-service.js
  server/src/services/aicli.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-event-broadcaster.js
  server/src/services/websocket-message-handlers.js
  server/src/services/websocket-message-router.js
  server/src/services/websocket-original.js
  server/src/services/websocket-utilities.js
  server/src/services/websocket.js
  server/src/test/routes/projects.test.js
  server/src/test/services/aicli-long-running-task-manager.test.js
  server/src/test/services/aicli-process-runner-simple.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-simple.test.js
  server/src/test/services/aicli-validation-service.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/websocket-connection-manager.test.js
  server/src/test/services/websocket-event-broadcaster.test.js
  server/src/test/services/websocket-message-handlers.test.js
  server/src/test/services/websocket-message-router.test.js
  server/src/test/services/websocket-orchestration.test.js
  server/src/test/services/websocket-utilities-coverage.test.js
  server/src/test/services/websocket-utilities.test.js
  server/src/test/services/websocket.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

fix: update cache dependency path in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: enhance session management and update WebSocket handling
  ios/Sources/AICLICompanion/ClaudeResponseStreamer.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/SessionContinuationSheet.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatSessionMenu.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  package-lock.json
  server/hostapp/package.json
  server/package.json
  server/src/constants/index.js
  server/src/index.js
  server/src/routes/projects.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/session-persistence.js
  server/src/services/stream-parser.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-message-handlers.js
  server/src/test/routes/projects.test.js
  server/src/test/services/aicli-process-runner-simple.test.js
  server/src/test/services/aicli-simple.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/websocket-message-handlers.test.js
  server/src/test/services/websocket-utilities-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

refactor: streamline test scripts and improve session management
  server/package.json
  server/src/index.js
  server/src/routes/projects.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/session-persistence.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-message-handlers.js
  server/src/test/routes/projects.test.js
  server/src/test/services/aicli-process-runner-simple.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-simple.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/websocket-message-handlers.test.js
  server/src/test/services/websocket-utilities-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: enhance testing and session management configurations
  server/.c8rc.json
  server/README.md
  server/package.json
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/discovery.js
  server/src/test-integration/index.test.js
  server/src/test-integration/server-integration.test.js
  server/src/test/config/server-startup.test.js
  server/src/test/services/aicli-message-handler.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/discovery.test.js
  server/src/test/services/websocket-utilities-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

chore: update Node.js version in CI workflow
  .github/workflows/ci.yml
Due: none

test: fix remaining test failures after consolidating simple test files
  server/src/test/services/aicli-process-runner-simple.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-simple.test.js
  server/src/test/services/aicli.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: prevent spawn errors in AICLIProcessRunner tests
  server/src/services/aicli-process-runner.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix
