Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

Enhance CI workflow with build cleanup and package cache reset
  .github/workflows/ci.yml
Due: none

Remove iOS Test Coverage Improvement Plan document
  .github/workflows/ci.yml
  ios-test-coverage-plan.md
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
Due: swiftlint lint --format, prettier --write

Potential fix for code scanning alert no. 86: Use of externally-controlled format string
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Implement error handling for uninitialized AICLI service in chat route
  server/src/routes/chat.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Remove User Test Notes document
  USER_TEST_NOTES.md
Due: prettier --write

Refactor MessageValidatorTests for improved clarity and coverage
  ios/Tests/AICLICompanionTests/Services/AICLIMessageOperationsTests.swift
  ios/Tests/AICLICompanionTests/Services/AICLIProjectManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ConnectionReliabilityManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ConversationExporterTests.swift
  ios/Tests/AICLICompanionTests/Services/LoadingStateCoordinatorTests.swift
  ios/Tests/AICLICompanionTests/Services/LoggingManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageValidatorTests.swift
  ios/Tests/AICLICompanionTests/Services/PerformanceMonitorTests.swift
  ios/Tests/AICLICompanionTests/Services/PushNotificationServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/SecurityManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ServiceDiscoveryManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/WebSocketManagerTests.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Add CI environment checks to test cases
  ios/Tests/AICLICompanionTests/Helpers/TestEnvironment.swift
  ios/Tests/AICLICompanionTests/Services/ConnectionReliabilityManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/LoggingManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ServiceDiscoveryManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/WebSocketManagerTests.swift
Due: swiftlint lint --format

Enhance CI workflow by skipping problematic tests
  .github/workflows/ci.yml
  ios/Scripts/run-tests-ci.sh
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
Due: swiftlint lint --format

Update CI workflow for improved compatibility and testing
  .github/workflows/ci.yml
Due: none

Refine CI workflow for improved iOS build and testing
  .github/workflows/ci.yml
Due: none

Update tests to throw XCTSkip for CI environment checks
  ios/Tests/AICLICompanionTests/Services/ConnectionReliabilityManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/LoggingManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ServiceDiscoveryManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/WebSocketManagerTests.swift
Due: swiftlint lint --format

Refactor tests to use throws for CI environment skips
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
Due: swiftlint lint --format

fix: skip performance tests in CI environment
  ios/Tests/AICLICompanionTests/Services/ServiceDiscoveryManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/WebSocketManagerTests.swift
Due: swiftlint lint --format

fix: add missing performance tests to CI skip list
  .github/workflows/ci.yml
Due: none

fix: skip network discovery tests in CI environment
  .github/workflows/ci.yml
Due: none

Update CLAUDE.md with new core principles and project context; enhance MarkdownParser with file path metadata support; remove obsolete auto-response iteration issue; minor formatting fix in chat.js
  CLAUDE.md
  ios/Sources/AICLICompanion/Views/MessageBubble/MarkdownParser.swift
  issues/32-intelligent-project-onboarding.md
  issues/33-macos-development-companion.md
  issues/4-auto-iteration.md
  issues/4-intelligent-auto-reply.md
  server/src/routes/chat.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Enhance AICLIService and MarkdownParser for improved file path handling and connection management
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Services/FileContentService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/FileViewer/FileViewerSheet.swift
  ios/Sources/AICLICompanion/Views/MessageBubble/MarkdownParser.swift
  ios/Sources/AICLICompanion/Views/MessageBubble/MessageContentRenderer.swift
  ios/Tests/AICLICompanionTests/MarkdownParserFilePathTests.swift
  issues/32-autonomous-coding-agent.md
  server/src/index.js
  server/src/routes/files.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

docs: mark Issue #10 (Clickable File Links) as complete
  issues/10-clickable-file-links.md
Due: prettier --write

chore: organize completed issues
  docs/training-data/issue-4-training-2025-08-29.md
  issues/3-message-queue.md
  issues/34-autonomous-coding-agent.md
  issues/completed/10-clickable-file-links.md
  issues/completed/5-message-summarization.md
Due: prettier --write

fix: move completed issues to proper done folder
  issues/done/complete-10-clickable-file-links.md
  issues/done/complete-5-message-summarization.md
Due: prettier --write

chore: remove obsolete files for Issue #4 (Intelligent Auto-Reply System)
  docs/training-data/issue-34-training-2025-08-29.md
  docs/training-data/issue-4-training-2025-08-29.md
  issues/32-intelligent-project-onboarding.md
  issues/34-autonomous-coding-agent.md
  issues/4-intelligent-auto-reply.md
Due: prettier --write

chore: update project structure and remove outdated references
  server/src/test/routes/files.test.js
  server/src/test/utils/logger.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: streamline file route tests for consistency
  server/src/test/routes/files.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: implement working directory validation for file operations
  server/src/routes/files.js
  server/src/test/routes/files.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: enhance working directory validation and testing
  ios/Sources/AICLICompanion/Views/MessageBubble/MessageContentRenderer.swift
  server/src/routes/files.js
  server/src/test/routes/files.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

feat: implement message queue management in chat system
  ios/Sources/AICLICompanion/Services/MessageQueueService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/QueueStatusBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/QueueStatusView.swift
  issues/2-cloudkit-integration.md
  issues/2-cloudkit-sync-device-coordination.md
  issues/22-root-directory-chat.md
  issues/3-message-queue.md
  issues/32-intelligent-project-onboarding.md
  issues/33-macos-development-companion.md
  issues/33-server-session-coordination.md
  issues/34-autonomous-coding-agent.md
  issues/34-enhanced-auto-response.md
  issues/35-project-creation-templates.md
  issues/36-planning-validation-engine.md
  issues/37-macos-development-companion.md
  macos-app/AICLICompanionHost/Views/SettingsView.swift
  server/src/index.js
  server/src/routes/chat.js
  server/src/routes/queue.js
  server/src/services/aicli-session-manager.js
  server/src/services/message-queue.js
  server/src/test/routes/chat.test.js
  server/src/test/services/message-queue.test.js
  server/test/services/message-queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

chore: update CI workflow and improve iOS build process
  .github/workflows/ci.yml
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/AICLICompanionHostTests/AICLICompanionHostTests.swift
  macos-app/AICLICompanionHostTests/KeychainManagerTests.swift
  macos-app/AICLICompanionHostTests/Mocks/MockKeychainManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockServerManager.swift
  macos-app/AICLICompanionHostTests/Mocks/TestDataFactory.swift
  server/src/routes/queue.js
  server/src/test/routes/queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 91: Uncontrolled data used in path expression
  server/src/routes/files.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: replace timestamp-based ID generation with UUIDs across multiple services
  server/src/middleware/error.js
  server/src/routes/chat.js
  server/src/routes/files.js
  server/src/routes/queue.js
  server/src/services/activity-monitor.js
  server/src/services/message-queue.js
  server/src/services/permission-manager.js
  server/src/test/services/permission-manager.test.js
  server/src/test/utils/message-optimizer.test.js
  server/src/utils/message-optimizer.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/routes/queue.js
  server/src/routes/queue.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: improve path validation logic in file handling
  server/src/routes/files.js
  server/src/utils/path-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update CI workflow and enhance package management
  .github/workflows/ci.yml
  ios/Package.swift
  server/src/routes/queue.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

refactor: improve variable naming for secure file path handling
  server/src/routes/files.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: enhance path validation and secure file operations
  server/src/routes/files.js
  server/src/utils/path-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: unify KeychainManager for iOS and macOS platforms
  AICLICompanionCore/Sources/AICLICompanionCore/KeychainManager.swift
  ios/Package.swift
  ios/Sources/AICLICompanion/Services/KeychainManager.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Tests/AICLICompanionTests/Services/KeychainManagerTests.swift
  issues/done/complete-3-message-queue.md
  macos-app/AICLICompanionHost/Utilities/KeychainManager.swift
  server/test-parallel-sessions.sh
Due: swiftlint lint --format, prettier --write

feat: implement cross-device message synchronization and device coordination
  docs/training-data/consolidated-comprehensive-findings-summary.md
  docs/training-data/keychain-consolidation-training-2025-09-01.md
  plan.md
  server/src/index.js
  server/src/routes/chat.js
  server/src/services/device-registry.js
  server/src/services/duplicate-detector.js
  server/src/services/message-queue.js
  server/src/services/telemetry.js
  server/src/test/integration/device-coordination-e2e.test.js
  server/src/test/services/device-registry.test.js
  server/src/test/services/duplicate-detector.test.js
  server/src/test/websocket/device-coordination.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: update AICLI service integration and enhance chat route handling
  server/src/handlers/chat-message-handler.js
  server/src/index.js
  server/src/routes/chat.js
  server/src/services/aicli-instance.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: implement server-side device coordination and enhance chat route functionality
  docs/training-data/consolidated-comprehensive-findings-summary.md
  docs/training-data/keychain-consolidation-training-2025-08-31.md
  docs/training-data/server-refactoring-training-2025-09-01.md
  plan.md
  server/package.json
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-utils.js
  server/src/services/aicli.js
  server/src/services/aicli/attachment-processor.js
  server/src/services/aicli/health-monitor.js
  server/src/services/aicli/index.js
  server/src/services/aicli/message-classifier.js
  server/src/services/aicli/one-time-prompt.js
  server/src/services/aicli/permission-handler.js
  server/src/services/aicli/response-emitter.js
  server/src/services/aicli/session-operations.js
  server/src/test/integration/device-coordination-e2e.test.js
  server/src/test/routes/chat.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/aicli/aicli-integration.test.js
  server/src/test/services/aicli/attachment-processor.test.js
  server/src/test/services/aicli/health-monitor.test.js
  server/src/test/services/aicli/message-classifier.test.js
  server/src/test/services/aicli/permission-handler.test.js
  server/src/test/services/device-registry.test.js
  server/src/test/services/duplicate-detector.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: streamline chat route parameters and enhance session management
  server/src/routes/chat.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/services/aicli-process-runner/config.js
  server/src/services/aicli-process-runner/index.js
  server/src/services/aicli-process-runner/interactive-session.js
  server/src/services/aicli-process-runner/output-processor.js
  server/src/services/aicli-session-manager/index.js
  server/src/services/aicli/index.js
  server/src/services/device-registry.js
  server/src/test/services/aicli.test.js
  server/src/test/services/aicli/aicli-integration.test.js
  server/src/test/services/aicli/attachment-processor.test.js
  server/src/test/services/aicli/message-classifier.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix
