Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

Update ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

Update server/src/routes/chat.js
  server/src/routes/chat.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/aicli-session-manager.js
  server/src/services/aicli-session-manager.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/push-notification.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Enhance chat and session management functionality
  server/src/routes/chat.js
  server/src/services/aicli-session-manager.js
  server/src/test/config/tls-config.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/connection-state-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: iOS CI build by properly installing iOS runtime
  .github/workflows/ci.yml
  server/src/services/aicli-session-manager.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update USER_TESTING_NOTES.md to include new test case results and issues
  USER_TESTING_NOTES.md
Due: prettier --write

simplify: iOS CI build to avoid downloading simulator runtimes
  .github/workflows/ci.yml
Due: none

docs: create user testing bug fix plan
  plan.md
Due: prettier --write

Refactor iOS ChatViewModel to Eliminate Global States and Implement Project-Specific State Management
  USER_TESTING_NOTES.md
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Components/TopBar.swift
  ios/Sources/AICLICompanion/DesignSystem/Colors.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/MessagePersistenceService.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/BackgroundMessageSyncService.swift
  ios/Sources/AICLICompanion/Services/Chat/ChatSessionManager.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Services/SessionStatePersistenceService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ThinkingIndicator.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/MessageQueueIndicator.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
  ios/Tests/AICLICompanionTests/Models/MessageTests.swift
  ios/Tests/AICLICompanionTests/Services/PushNotificationServiceIntegrationTests.swift
  ios/Tests/AICLICompanionTests/Services/SessionStatePersistenceServiceTests.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Update CI configuration and enhance MessageBubble component
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

Fix critical app state and message delivery issues in iOS app
  .github/workflows/ci.yml
  ios/App/Info.plist
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/MessagePersistenceService.swift
  ios/Sources/AICLICompanion/ProjectAwarenessService.swift
  ios/Sources/AICLICompanion/ProjectMessageStore.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/LoadingStateCoordinator.swift
  ios/Sources/AICLICompanion/Services/LoggingManager.swift
  ios/Sources/AICLICompanion/Services/ProjectStateManager.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
  ios/plan.md
  plan.md
Due: swiftlint lint --format, prettier --write

Update CI configuration for iOS build process
  .github/workflows/ci.yml
Due: none

Enhance CI workflow for iOS builds
  .github/workflows/ci.yml
Due: none

Refactor CI workflow and enhance SettingsViewModel
  .github/workflows/ci.yml
  macos-app/AICLICompanionHost/ViewModels/SettingsViewModel.swift
  macos-app/AICLICompanionHostTests/Helpers/ViewTestHelpers.swift
Due: none

Refactor SettingsViewModel for improved property monitoring
  .github/workflows/ci.yml
  macos-app/AICLICompanionHost/ViewModels/SettingsViewModel.swift
Due: none

Update CI workflow to set fixed timeout values
  .github/workflows/ci.yml
Due: none

Enhance CI workflow for iOS testing and coverage reporting
  .github/workflows/ci.yml
Due: none

Update CI workflow to test only Node version 22
  .github/workflows/ci.yml
Due: none

Remove caching configuration from CI workflow
  .github/workflows/ci.yml
Due: none

Remove push trigger from CI workflow
  .github/workflows/ci.yml
Due: none

Update ios/Sources/AICLICompanion/RichContentRenderer.swift
  ios/Sources/AICLICompanion/RichContentRenderer.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
  ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Services/SessionStatePersistenceService.swift
  ios/Sources/AICLICompanion/Services/SessionStatePersistenceService.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
Due: swiftlint lint --format

Refactor iOS Accessibility and Dependency Management
  ios/Sources/AICLICompanion/AccessibilityHelpers.swift
  ios/Sources/AICLICompanion/DependencyContainer.swift
  ios/Sources/AICLICompanion/Extensions/ChatViewModel+SessionLifecycle.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/Services/KeychainManager.swift
  ios/Sources/AICLICompanion/Services/ProjectStateManager.swift
  ios/Sources/AICLICompanion/Services/SessionKeepAliveService.swift
  ios/Sources/AICLICompanion/Services/SessionStatePersistenceService.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/OptimizedMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/SessionStatusView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  macos-app/AICLICompanionHost/Utilities/KeychainManager.swift
  plan.md
  server/src/index.js
  server/src/routes/chat.js
  server/src/routes/sessions.js
  server/src/services/aicli-interactive.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/interactive-session-pool.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Update ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatProjectStateManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatProjectStateManager.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Views/MessageBubble/MessageAttachmentHandler.swift
  ios/Sources/AICLICompanion/Views/MessageBubble/MessageAttachmentHandler.swift
Due: swiftlint lint --format

Refactor CI Configuration and Update Activity Monitor Tests
  .github/workflows/ci.yml
  server/src/test/services/activity-monitor.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-validation-service.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/command-security.test.js
  server/src/test/services/message-parser.test.js
  server/src/test/services/permission-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor AICLI Session Management and Clean Up Tests
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/test/services/activity-monitor.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-validation-service.test.js
  server/src/test/services/aicli.test.js
  server/src/test/services/message-parser.test.js
  server/src/test/services/permission-manager.test.js
  server/src/test/utils/message-optimizer.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Enhance CLAUDE.md Documentation and Remove Obsolete Files
  CLAUDE.md
  README.md
  USER_TESTING_NOTES.md
  docs/README.md
  docs/api/API.md
  docs/development/build-scripts.md
  docs/development/coverage-summary.md
  docs/development/testing-analysis.md
  docs/operations/build-readme.md
  docs/platform-guides/bundle-server.md
  macos-app/SWIFTLINT_REFACTORING_PLAN.md
  plan.md
Due: prettier --write

Refactor ChatViewModel and SettingsView for Improved Clarity and Consistency
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  macos-app/AICLICompanionHost/Views/SettingsView.swift
Due: swiftlint lint --format

Add user test notes and manual testing guide for beta preparation
  USER_TEST_NOTES.md
  docs/MANUAL_TESTING_GUIDE.md
Due: prettier --write
