Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, swiftlint lint --fix --format

.lintstagedrc.json:

{
  "server/src/**/*.js": ["prettier --write", "eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --fix --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

chore: Remove deprecated GitHub Actions workflows and Dependabot configuration
  .github/dependabot.yml
  .github/workflows/ios-test.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat: Implement comprehensive testing infrastructure and quality gates
  .husky/pre-commit
Due: none

fix: Update GitHub Actions upload-artifact to v4
  .github/workflows/ci.yml
Due: none

feat: Add git push command to local settings
  .claude/settings.local.json
Due: prettier --write

fix: Resolve all ESLint unused variable warnings and fix test imports
  server/src/middleware/auth.js
  server/src/middleware/error.js
  server/src/routes/index.js
  server/src/services/claude-code.js
  server/src/services/discovery.js
  server/src/services/websocket-v2.js
  server/src/services/websocket.js
  server/src/test/services/claude-code.test.js
  server/src/test/services/discovery.test.js
  server/src/test/utils/tls.test.js
  server/src/utils/tls.js
Due: prettier --write, eslint --fix

test: Fix remaining test failures for pre-commit hook compliance
  server/src/test/services/claude-code.test.js
  server/src/test/services/discovery.test.js
Due: prettier --write, eslint --fix

feat: Enhance iOS app with new features and settings
  ios/ClaudeCompanion/Info.plist
  ios/Package.swift
  ios/Sources/ClaudeCompanion/AccessibilityHelpers.swift
  ios/Sources/ClaudeCompanion/AnimationConstants.swift
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ClaudeCodeService.swift
  ios/Sources/ClaudeCompanion/ClaudeCompanionApp.swift
  ios/Sources/ClaudeCompanion/ConnectionView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/ConversationHistoryView.swift
  ios/Sources/ClaudeCompanion/ConversationPersistenceService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowView.swift
  ios/Sources/ClaudeCompanion/FileBrowserView.swift
  ios/Sources/ClaudeCompanion/FileManagementService.swift
  ios/Sources/ClaudeCompanion/HapticManager.swift
  ios/Sources/ClaudeCompanion/KeychainManager.swift
  ios/Sources/ClaudeCompanion/Message.swift
  ios/Sources/ClaudeCompanion/ProjectAwarenessService.swift
  ios/Sources/ClaudeCompanion/ProjectContextView.swift
  ios/Sources/ClaudeCompanion/RichContentRenderer.swift
  ios/Sources/ClaudeCompanion/ServiceDiscoveryManager.swift
  ios/Sources/ClaudeCompanion/Settings.swift
  ios/Sources/ClaudeCompanion/SettingsManager.swift
  ios/Sources/ClaudeCompanion/SettingsView.swift
  ios/Sources/ClaudeCompanion/ToolActivity.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
  ios/Tests/ClaudeCompanionTests/ClaudeCompanionTests.swift
Due: swiftlint lint --fix --format

refactor: Update test scripts and cleanup for improved testing environment
  server/package.json
  server/src/services/discovery.js
  server/src/test/middleware/auth.test.js
  server/src/test/services/discovery.test.js
Due: prettier --write, eslint --fix

test: Achieve 80% test coverage with comprehensive test suite
  .claude/settings.local.json
  server/.c8rc.json
  server/src/services/claude-code.js
  server/src/test/index-execution.test.js
  server/src/test/index.test.js
  server/src/test/middleware/error.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/routes-coverage.test.js
  server/src/test/services/claude-code.test.js
  server/src/test/services/discovery.test.js
  server/src/test/services/websocket-v2.test.js
  server/src/test/services/websocket.test.js
  server/src/test/utils/tls.test.js
Due: prettier --write, eslint --fix

test: add websocket-v2 and tls tests to reach 80% coverage
  .claude/settings.local.json
  server/src/test/index-execution.test.js
  server/src/test/index.test.js
  server/src/test/services/websocket-v2.test.js
Due: prettier --write, eslint --fix

refactor: Complete server code review with modular architecture and comprehensive test coverage
  server/.c8rc.json
  server/.husky/pre-commit
  server/.prettierrc.json
  server/jest.config.js
  server/package.json
  server/src/config/middleware-config.js
  server/src/config/server-config.js
  server/src/config/server-startup.js
  server/src/config/tls-config.js
  server/src/constants/index.js
  server/src/index.js
  server/src/middleware/auth.js
  server/src/services/claude-code.js
  server/src/services/websocket-v2.js
  server/src/services/websocket.js
  server/src/test/config/middleware-config.test.js
  server/src/test/config/server-startup.test.js
  server/src/test/config/tls-config.test.js
  server/src/test/server-integration.test.js
  server/src/test/services/websocket-v2.test.js
  server/src/test/services/websocket.test.js
  server/src/test/utils/errors.test.js
  server/src/test/utils/validation.test.js
  server/src/utils/errors.js
  server/src/utils/tls.js
  server/src/utils/validation.js
Due: prettier --write, eslint --fix

fix: resolve ESLint pre-commit issues and dependency sync
  .claude/settings.local.json
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
  server/src/test/config/middleware-config.test.js
  server/src/test/config/server-startup.test.js
  server/src/test/config/tls-config.test.js
  server/src/test/server-integration.test.js
  server/src/test/utils/errors.test.js
  server/src/test/utils/validation.test.js
Due: prettier --write, eslint --fix

fix: Stabilize test suite and coverage for clean pre-commit workflow
  .husky/pre-commit
  package.json
  server/.c8rc.json
  server/package.json
  server/src/test/config/server-startup.test.js
  server/src/test/config/tls-config.test.js
  server/src/test/middleware/auth.test.js
  server/src/test/server-integration.test.js
  server/src/test/services/claude-code.test.js
Due: prettier --write, eslint --fix

chore: Update package-lock.json and package.json for improved linting and testing
  .claude/settings.local.json
Due: prettier --write

test: achieve 80% unit test coverage
  .claude/settings.local.json
  server/.c8rc.json
  server/package.json
  server/src/test/config/tls-config.test.js
  server/src/test/services/claude-code.test.js
Due: prettier --write, eslint --fix

chore: Update CI workflow and coverage configuration
  .github/workflows/ci.yml
  server/.c8rc.json
Due: prettier --write

Potential fix for code scanning alert no. 14: Uncontrolled data used in path expression
  server/src/services/claude-code.js
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 12: Use of externally-controlled format string
  server/src/services/claude-code.js
Due: prettier --write, eslint --fix

fix: resolve button tap issues and iOS 17 compatibility
  ios/App/AppMain.swift
  ios/App/Info.plist
  ios/ClaudeCompanion.xcodeproj/project.pbxproj
  ios/Package.swift
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ClaudeCompanionApp.swift
  ios/Sources/ClaudeCompanion/ConnectionView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowService.swift
  ios/Sources/ClaudeCompanion/SettingsView.swift
  ios/project.yml
Due: swiftlint lint --fix --format

refactor: enhance code structure and improve functionality
  .claude/settings.local.json
  ios/Sources/ClaudeCompanion/AccessibilityHelpers.swift
  ios/Sources/ClaudeCompanion/ClaudeCodeService.swift
  ios/Sources/ClaudeCompanion/ConversationHistoryView.swift
  ios/Sources/ClaudeCompanion/ConversationPersistenceService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowView.swift
  ios/Sources/ClaudeCompanion/FileBrowserView.swift
  ios/Sources/ClaudeCompanion/FileManagementService.swift
  ios/Sources/ClaudeCompanion/Message.swift
  ios/Sources/ClaudeCompanion/ProjectContextView.swift
  ios/Sources/ClaudeCompanion/ServiceDiscoveryManager.swift
  ios/Sources/ClaudeCompanion/SettingsManager.swift
  ios/Sources/ClaudeCompanion/ToolActivity.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
Due: prettier --write, swiftlint lint --fix --format

fix: update CI workflow to properly build iOS app
  .github/workflows/ci.yml
Due: none

fix: add platform availability annotations for CI compatibility
  ios/App/AppMain.swift
  ios/Sources/ClaudeCompanion/AccessibilityHelpers.swift
  ios/Sources/ClaudeCompanion/AnimationConstants.swift
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ClaudeCodeService.swift
  ios/Sources/ClaudeCompanion/ClaudeCompanionApp.swift
  ios/Sources/ClaudeCompanion/ConnectionView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/ConversationHistoryView.swift
  ios/Sources/ClaudeCompanion/ConversationPersistenceService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowView.swift
  ios/Sources/ClaudeCompanion/FileBrowserView.swift
  ios/Sources/ClaudeCompanion/FileManagementService.swift
  ios/Sources/ClaudeCompanion/ProjectAwarenessService.swift
  ios/Sources/ClaudeCompanion/ProjectContextView.swift
  ios/Sources/ClaudeCompanion/RichContentRenderer.swift
  ios/Sources/ClaudeCompanion/ServiceDiscoveryManager.swift
  ios/Sources/ClaudeCompanion/SettingsManager.swift
  ios/Sources/ClaudeCompanion/SettingsView.swift
  ios/Sources/ClaudeCompanion/ToolActivity.swift
  ios/Sources/ClaudeCompanion/WebSocketService.swift
Due: swiftlint lint --fix --format

fix: resolve websocket test deserialization error in CI
  .gitignore
  server/src/test/services/websocket.test.js
Due: prettier --write, eslint --fix

Delete .claude directory
  .claude/settings.local.json
Due: prettier --write

chore: update .gitignore to include settings.local.json
  .github/workflows/ci.yml
Due: none

fix: update CI to use Xcode 16.0 for iOS build compatibility
  .github/workflows/ci.yml
Due: none

fix: use macOS 15 runner for Xcode 16 availability in CI
  .github/workflows/ci.yml
Due: none

fix: update SwiftLint paths to match source structure
  ios/.swiftlint.yml
Due: none

fix: implement conditional authentication and complete UI design system
  ios/Sources/ClaudeCompanion/Components/Buttons/PrimaryButton.swift
  ios/Sources/ClaudeCompanion/Components/Buttons/SecondaryButton.swift
  ios/Sources/ClaudeCompanion/Components/DividerView.swift
  ios/Sources/ClaudeCompanion/Components/ErrorCard.swift
  ios/Sources/ClaudeCompanion/Components/QRScannerSheet.swift
  ios/Sources/ClaudeCompanion/ConnectionView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Colors.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Spacing.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Typography.swift
  server/src/config/server-config.js
  server/src/config/server-startup.js
  server/src/index.js
Due: prettier --write, eslint --fix, swiftlint lint --fix --format

refactor: update iOS app to support iOS 14 and macOS 11
  ios/Sources/ClaudeCompanion/AccessibilityHelpers.swift
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/Components/Buttons/PrimaryButton.swift
  ios/Sources/ClaudeCompanion/Components/Buttons/SecondaryButton.swift
  ios/Sources/ClaudeCompanion/Components/DividerView.swift
  ios/Sources/ClaudeCompanion/Components/ErrorCard.swift
  ios/Sources/ClaudeCompanion/Components/QRScannerSheet.swift
  ios/Sources/ClaudeCompanion/Components/SettingsTile.swift
  ios/Sources/ClaudeCompanion/Components/TerminalBubbleIcon.swift
  ios/Sources/ClaudeCompanion/Components/TopBar.swift
  ios/Sources/ClaudeCompanion/ConnectionView.swift
  ios/Sources/ClaudeCompanion/ContentView.swift
  ios/Sources/ClaudeCompanion/ConversationHistoryView.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Colors.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Spacing.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Typography.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowService.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowView.swift
  ios/Sources/ClaudeCompanion/FileBrowserView.swift
  ios/Sources/ClaudeCompanion/MessageBubble.swift
  ios/Sources/ClaudeCompanion/ProjectContextView.swift
  ios/Sources/ClaudeCompanion/ServiceDiscoveryManager.swift
  ios/Sources/ClaudeCompanion/SettingsView.swift
  ios/Sources/ClaudeCompanion/ToolActivity.swift
  server/desktop/package-lock.json
  server/desktop/package.json
  server/desktop/src-tauri/Cargo.toml
  server/desktop/src-tauri/tauri.conf.json
  server/package.json
  server/server.out
Due: prettier --write, swiftlint lint --fix --format

feat: add Tauri desktop app for server management
  .gitignore
  server/desktop/README.md
  server/desktop/index.html
  server/desktop/package-lock.json
  server/desktop/package.json
  server/desktop/src-tauri/Cargo.lock
  server/desktop/src-tauri/Cargo.toml
  server/desktop/src-tauri/build.rs
  server/desktop/src-tauri/capabilities/default.json
  server/desktop/src-tauri/icons/128x128.png
  server/desktop/src-tauri/icons/128x128@2x.png
  server/desktop/src-tauri/icons/32x32.png
  server/desktop/src-tauri/icons/icon.png
  server/desktop/src-tauri/src/main.rs
  server/desktop/src-tauri/tauri.conf.json
  server/desktop/src/app.js
  server/desktop/src/styles.css
  server/desktop/tsconfig.json
  server/desktop/vite.config.js
  server/package.json
Due: prettier --write

fix: resolve flaky WebSocket test timer cleanup
  server/src/test/server-integration.test.js
  server/src/test/services/websocket.test.js
Due: prettier --write, eslint --fix

fix: resolve desktop app browse button and external server management
  server/desktop/FIXES.md
  server/desktop/index.html
  server/desktop/package-lock.json
  server/desktop/package.json
  server/desktop/src-tauri/capabilities/default.json
  server/desktop/src-tauri/src/main.rs
  server/desktop/src-tauri/tauri.conf.json
  server/desktop/src/app.js
  server/desktop/test-fixes.html
  server/desktop/test.html
Due: prettier --write

fix: resolve desktop app browse button and external server management
  server/desktop/FIXES.md
  server/desktop/index.html
  server/desktop/package-lock.json
  server/desktop/package.json
  server/desktop/src-tauri/capabilities/default.json
  server/desktop/src-tauri/src/main.rs
  server/desktop/src-tauri/tauri.conf.json
  server/desktop/src/app.js
  server/desktop/test-fixes.html
  server/desktop/test.html
  server/src/test/services/websocket.test.js
Due: prettier --write, eslint --fix

refactor: rename desktop to hostapp across the monorepo
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  server/desktop/package.json
  server/desktop/src/app.js
  server/hostapp/.eslintrc.cjs
  server/hostapp/.prettierrc
  server/hostapp/FIXES.md
  server/hostapp/README.md
  server/hostapp/index.html
  server/hostapp/package-lock.json
  server/hostapp/package.json
  server/hostapp/src-tauri/Cargo.lock
  server/hostapp/src-tauri/Cargo.toml
  server/hostapp/src-tauri/build.rs
  server/hostapp/src-tauri/capabilities/default.json
  server/hostapp/src-tauri/icons/128x128.png
  server/hostapp/src-tauri/icons/128x128@2x.png
  server/hostapp/src-tauri/icons/32x32.png
  server/hostapp/src-tauri/icons/icon.png
  server/hostapp/src-tauri/src/main.rs
  server/hostapp/src-tauri/tauri.conf.json
  server/hostapp/src/app.js
  server/hostapp/src/styles.css
  server/hostapp/test-fixes.html
  server/hostapp/test.html
  server/hostapp/tsconfig.json
  server/hostapp/vite.config.js
  server/src/test/config/tls-config.test.js
Due: prettier --write, eslint --fix

fix: update package-lock.json to sync with hostapp refactoring
  package-lock.json
Due: prettier --write

feat: add comprehensive test infrastructure for hostapp
  .husky/pre-commit
  server/hostapp/README-TESTING.md
  server/hostapp/src-tauri/.cargo/config.toml
  server/hostapp/src-tauri/Cargo.toml
  server/hostapp/src-tauri/src/lib.rs
  server/hostapp/src-tauri/src/main.rs
  server/hostapp/src/app-core.js
  server/hostapp/src/app.js
  server/hostapp/test/app-core.test.js
  server/hostapp/test/mocks/qrcode.js
  server/hostapp/test/mocks/tauri-api-core.js
  server/hostapp/test/mocks/tauri-api-path.js
  server/hostapp/test/mocks/tauri-plugin-dialog.js
  server/hostapp/test/setup.js
  server/hostapp/vitest.config.js
Due: prettier --write

fix: add glib security patch to address vulnerability
  server/hostapp/src-tauri/Cargo.toml
  server/hostapp/src-tauri/SECURITY_UPDATE_REQUIRED.md
Due: prettier --write
