Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

Potential fix for code scanning alert no. 47: Uncontrolled data used in path expression
  server/src/services/session-persistence.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor AICLIService documentation and update message-queue service
  server/src/services/aicli.js
  server/src/services/message-queue.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 59: Use of externally-controlled format string
  server/src/services/session-persistence.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 58: Use of externally-controlled format string
  server/src/services/aicli.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 57: Use of externally-controlled format string
  server/src/services/aicli-session-manager.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 56: Use of externally-controlled format string
  server/src/services/aicli-session-manager.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 43: Use of externally-controlled format string
  server/src/services/session-persistence.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update server/src/services/aicli-session-manager.js
  server/src/services/aicli-session-manager.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 40: Use of externally-controlled format string
  server/src/services/session-persistence.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 41: Uncontrolled data used in path expression
  server/src/services/session-persistence.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor error logging in AICLI status route to use template literals for improved readability
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Fix AICLI CLI --print flag requirement
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/ClaudeOutputParser.swift
  ios/Sources/AICLICompanion/DesignSystem/Colors.swift
  ios/Sources/AICLICompanion/DesignSystem/Spacing.swift
  ios/Sources/AICLICompanion/DesignSystem/Typography.swift
  ios/Sources/AICLICompanion/ProjectMessageStore.swift
  ios/Sources/AICLICompanion/PushNotificationService.swift
  ios/Sources/AICLICompanion/ToolActivity.swift
  server/src/services/aicli-process-runner.js
  server/src/test/services/aicli-process-runner-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format

Fix AICLI CLI stdin input handling and improve error handling
  server/src/services/aicli-process-runner.js
  server/src/test/services/aicli-process-runner-coverage.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Disable server-side session persistence and clean startup
  server/src/index.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/message-queue.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor AICLI architecture to stateless HTTP model
  .env.example
  .gitignore
  HTTP_APNS_ARCHITECTURE.md
  STATELESS_ARCHITECTURE_SUMMARY.md
  ios/App/AppMain.swift
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/ClaudeCompanionApp.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/WebSocketService.swift
  plan.md
  server/src/index.js
  server/src/routes/aicli-status.js
  server/src/routes/chat.js
  server/src/routes/devices.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli-session-manager.js
  server/src/services/aicli.js
  server/src/services/push-notification.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-event-broadcaster.js
  server/src/services/websocket-message-handlers.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

Enhance SwiftLint configuration and refactor code for consistency
  ios/.swiftlint.yml
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Components/Buttons/SecondaryButton.swift
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/DesignSystem/Colors.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/ProjectAwarenessService.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/ServiceDiscoveryManager.swift
  ios/Sources/AICLICompanion/Services/BackgroundMessageSyncService.swift
  ios/Sources/AICLICompanion/Services/BackgroundSessionCoordinator.swift
  ios/Sources/AICLICompanion/Services/Chat/ChatSessionManager.swift
  ios/Sources/AICLICompanion/Services/ConnectionReliabilityManager.swift
  ios/Sources/AICLICompanion/Services/EnhancedPushNotificationService.swift
  ios/Sources/AICLICompanion/Services/MessageQueueManager.swift
  ios/Sources/AICLICompanion/Services/MessageValidator.swift
  ios/Sources/AICLICompanion/Services/PerformanceMonitor.swift
  ios/Sources/AICLICompanion/Services/SessionStatePersistenceService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/ClaudeStatusIndicator.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
  ios/Sources/AICLICompanion/WebSocketService.swift
Due: swiftlint lint --fix --format

Refactor code formatting and remove trailing whitespace across multiple files
  macos-app/.swiftlint.yml
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
  macos-app/ClaudeCompanionHost/App/ClaudeCompanionApp.swift
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Models/SettingsManager.swift
  macos-app/ClaudeCompanionHost/Utilities/KeychainManager.swift
  macos-app/ClaudeCompanionHost/Utilities/NetworkMonitor.swift
  macos-app/ClaudeCompanionHost/Utilities/NotificationManager.swift
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarIcon.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarView.swift
  macos-app/ClaudeCompanionHost/Views/QRCodeView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
  macos-app/ClaudeCompanionHost/Views/VisualEffectView.swift
  macos-app/Package.swift
Due: none

Refactor server architecture to remove WebSocket dependencies and enhance HTTP handling
  package-lock.json
  server/package.json
  server/src/index.js
  server/src/services/aicli-long-running-task-manager.js
  server/src/services/aicli-session-manager.js
  server/src/services/websocket-connection-manager.js
  server/src/services/websocket-event-broadcaster.js
  server/src/services/websocket-message-handlers.js
  server/src/services/websocket-message-router.js
  server/src/services/websocket-utilities.js
  server/src/services/websocket.js
  server/src/test-integration/index.test.js
  server/src/test-integration/server-integration.test.js
  server/src/test-uat/README.md
  server/src/test-uat/edge-cases.test.js
  server/src/test-uat/integration.test.js
  server/src/test-uat/message-flow.test.js
  server/src/test-uat/performance.test.js
  server/src/test/routes/chat.test.js
  server/src/test/routes/devices.test.js
  server/src/test/routes/push-notifications.test.js
  server/src/test/routes/sessions-coverage.test.js
  server/src/test/routes/sessions.test.js
  server/src/test/routes/telemetry-coverage.test.js
  server/src/test/services/aicli-long-running-task-manager.test.js
  server/src/test/services/aicli-process-runner.test.js
  server/src/test/services/aicli-session-manager-coverage.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-utils.test.js
  server/src/test/utils/atomic-write.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

Potential fix for code scanning alert no. 60: Use of externally-controlled format string
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update CI configuration to use Xcode version 16.2 for improved compatibility and performance
  .github/workflows/ci.yml
Due: none

Refactor message handling and improve deduplication logic in ChatViewModel
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/BackgroundMessageSyncService.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
Due: swiftlint lint --fix --format

Update lint-staged configuration for Swift files to remove automatic fixing
  .lintstagedrc.json
Due: prettier --write

Potential fix for code scanning alert no. 61: Use of externally-controlled format string
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Enhance macOS app UI and functionality with comprehensive updates
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarView.swift
  macos-app/ClaudeCompanionHost/Views/QRCodeView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
  plan.md
Due: prettier --write

Update macos-app/ClaudeCompanionHost/Views/LogsView.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
Due: none

Update macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
Due: none

Remove unused app icon files from macOS app assets
  macos-app/ClaudeCompanionHost/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos-app/ClaudeCompanionHost/Assets.xcassets/AppIcon.appiconset/icon-1024.png
  macos-app/ClaudeCompanionHost/Assets.xcassets/AppIcon.appiconset/icon-512@2x.png
Due: prettier --write

Enhance macOS app functionality and entitlements
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
  macos-app/ClaudeCompanionHost/ClaudeCompanionHost.entitlements
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Utilities/NotificationManager.swift
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
  macos-app/project.yml
Due: none

Potential fix for code scanning alert no. 55: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Refactor CI workflow and enhance macOS app UI
  .github/workflows/ci.yml
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
Due: none

Remove unnecessary permissions from CI workflow configuration
  .github/workflows/ci.yml
Due: none

Remove caching configuration from CI workflow
  .github/workflows/ci.yml
Due: none

Update macos-app/ClaudeCompanionHost/Views/SettingsView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
Due: none

Update macos-app/ClaudeCompanionHost/App/AppDelegate.swift
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
Due: none

Refactor getServerPID function in ActivityMonitorView and LogsView
  macos-app/ClaudeCompanionHost/Views/ActivityMonitorView.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
Due: none

Implement logs window functionality in AppDelegate
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
Due: none

Path conditions:
  cd server && npx prettier --write: any of: server/src/**/*.js
  cd server && npx eslint --fix: any of: server/src/**/*.js
  swiftlint lint --fix --format: any of: ios/**/*.swift
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
