Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --fix --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

test: fix extractPermissionPrompt test expectation
  server/src/test/services/claude-code.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: improve formatting of claudeCommand assertion for readability
  server/src/test/services/claude-code.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: enhance readability of multiline string in extractPermissionPrompt test
  server/src/test/services/claude-code.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: enhance project and session route validation
  server/package.json
  server/src/test/routes/claude-status.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

test: improve formatting and readability in route tests
  server/src/test/routes/claude-status.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: remove unused variable in API route tests
  server/src/test/routes/index.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: refactor mock router in project route tests
  server/src/test/routes/projects.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: hide Claude CLI tab and prevent switching to it
  server/hostapp/index.html
  server/hostapp/src/app-core.js
Due: none

Potential fix for code scanning alert no. 25: Missing rate limiting
  server/src/routes/claude-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 17: Missing rate limiting
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 19: Insecure randomness
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 24: Use of externally-controlled format string
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 22: Use of externally-controlled format string
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 23: Use of externally-controlled format string
  server/src/routes/claude-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 21: Missing rate limiting
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: add Claude CLI permission configuration and process monitoring
  server/README.md
  server/src/index.js
  server/src/services/claude-code.js
  server/src/utils/process-monitor.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

fix: resolve Claude CLI permission and prompt handling issues
  README.md
  docs/api/websocket-protocol.md
  docs/development/hostapp-fixes.md
  docs/development/hostapp-testing.md
  docs/ios-build.md
  docs/security/tauri-security-update.md
  docs/testing/uat-scenarios.md
  server/README.md
  server/hostapp/README.md
  server/package.json
  server/src/index.js
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

style: fix ESLint and Prettier formatting issues
  server/src/index.js
  server/src/services/claude-code.js
  server/src/utils/process-monitor.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: enhance process health monitoring and session management
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: enhance project route tests with comprehensive session handling
  server/src/test/routes/projects.test.js
  server/src/test/utils/process-monitor.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: clean up whitespace and improve formatting in project and process monitor tests
  server/src/test/routes/projects.test.js
  server/src/test/utils/process-monitor.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: update project route error handling and improve process monitor metrics calculation
  server/src/test/routes/projects.test.js
  server/src/utils/process-monitor.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: improve formatting in project route tests and process monitor metrics
  server/src/test/routes/projects.test.js
  server/src/utils/process-monitor.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Fix duplicate messages and improve message bubble formatting
  ios/Sources/ClaudeCompanion/MessageBubble.swift
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --fix --format

Update server/src/services/claude-code.js
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Fix linting issues in claude-code.js
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix: remove unused variable in long-running process handler
  server/src/services/claude-code.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Update Xcode project configuration
  ios/ClaudeCompanion.xcodeproj/project.pbxproj
Due: none

Fix formatting issues and update dates
  README.md
  docs/api/websocket-protocol.md
  server/hostapp/src/app-core.js
  server/hostapp/src/app.js
Due: prettier --write

Remove outdated iOS build and WebSocket protocol documentation
  docs/README.md
  docs/api/rest-api.md
  docs/api/websocket-api.md
  docs/architecture/ios-app.md
  docs/architecture/overview.md
  docs/architecture/server.md
  docs/development/build-ios.md
  docs/development/contributing.md
  docs/development/setup.md
  docs/development/testing.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/getting-started/troubleshooting.md
  docs/operations/deployment.md
Due: prettier --write

feat: add full iPad compatibility with adaptive layouts
  ios/App/AppMain.swift
  ios/App/Info.plist
  ios/ClaudeCompanion.xcodeproj/project.pbxproj
  ios/Sources/ClaudeCompanion/AdaptiveContentView.swift
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/ConversationHistoryView.swift
  ios/Sources/ClaudeCompanion/DevelopmentWorkflowView.swift
  ios/Sources/ClaudeCompanion/FileBrowserView.swift
  ios/Sources/ClaudeCompanion/MessageBubble.swift
  ios/Sources/ClaudeCompanion/ProjectContextView.swift
  ios/Sources/ClaudeCompanion/ToolActivity.swift
  ios/project.yml
Due: swiftlint lint --fix --format

Update ios/Sources/ClaudeCompanion/AdaptiveContentView.swift
  ios/Sources/ClaudeCompanion/AdaptiveContentView.swift
Due: swiftlint lint --fix --format

fix: resolve SwiftLint violations and exclude hardcoded strings rule
  ios/.swiftlint.yml
  ios/Sources/ClaudeCompanion/ChatView.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Spacing.swift
  ios/Sources/ClaudeCompanion/DesignSystem/Typography.swift
  ios/project.yml
Due: swiftlint lint --fix --format

refactor: update shadow properties and project configuration
  ios/ClaudeCompanion.xcodeproj/project.pbxproj
  ios/Sources/ClaudeCompanion/DesignSystem/Spacing.swift
Due: swiftlint lint --fix --format

Delete server/src/routes directory
  server/src/routes/claude-status.js
  server/src/routes/index.js
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 27: Use of externally-controlled format string
  server/src/routes/aicli-status.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 26: Insecure randomness
  server/src/routes/projects.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update project name and dependencies in package-lock.json
  package-lock.json
Due: prettier --write
