Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Refactor notification count checks in BackgroundMessageSyncService and NotificationHandler
  ios/Sources/AICLICompanion/Services/BackgroundMessageSyncService.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
Due: swiftlint lint --format

Enhance CI workflow and project structure for macOS app
  .github/workflows/ci.yml
  ios/AICLICompanion.xcodeproj/xcshareddata/xcschemes/AICLICompanion.xcscheme
  macos-app/ClaudeCompanionHost.xcodeproj/project.pbxproj
  macos-app/ClaudeCompanionHost/ClaudeCompanionHost.entitlements
  macos-app/ClaudeCompanionHostTests/ClaudeCompanionHostTests.swift
  macos-app/project.yml
Due: none

Enhance CI workflow with improved server startup and testing
  .github/workflows/ci.yml
Due: none

Fix iOS and macOS coverage report generation in CI
  .github/workflows/ci.yml
  .gitignore
Due: none

Remove integration tests from CI workflow
  .github/workflows/ci.yml
Due: none

Refactor ServerManager and NotificationManager for improved state handling and user experience
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Utilities/NotificationManager.swift
  macos-app/ClaudeCompanionHost/Views/LogsView.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarView.swift
  macos-app/ClaudeCompanionHost/Views/QRCodeView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
Due: none

Remove PR comment step from CI workflow
  .github/workflows/ci.yml
Due: none

Update macos-app/ClaudeCompanionHostTests/ClaudeCompanionHostTests.swift
  macos-app/ClaudeCompanionHostTests/ClaudeCompanionHostTests.swift
Due: none

Remove plan.md file containing development guidelines and architecture principles
  CLAUDE.md
  plan.md
Due: prettier --write

Remove outdated documentation files and add comprehensive deployment guide
  CONTRIBUTING.md
  HTTP_APNS_ARCHITECTURE.md
  STATELESS_ARCHITECTURE_SUMMARY.md
  docs/README.md
  docs/api/API.md
  docs/api/rest-api.md
  docs/api/websocket-api.md
  docs/architecture/overview.md
  docs/architecture/server.md
  docs/deployment.md
  docs/development/build-ios.md
  docs/development/hostapp-fixes.md
  docs/development/hostapp-guide.md
  docs/development/setup.md
  docs/development/testing.md
  docs/features/push-notifications-backend.md
  docs/features/session-persistence.md
  docs/features/streaming-and-notifications.md
  docs/getting-started/troubleshooting.md
  docs/operations/deployment.md
  docs/platform-guides/ios-guide.md
  docs/platform-guides/macos-guide.md
  docs/platform-guides/server-guide.md
  docs/security/tauri-security-update.md
  docs/testing/uat-scenarios.md
  ios/BACKGROUND_SESSION_TEST_PLAN.md
  ios/README.md
  server/ARCHITECTURE.md
  server/IMPLEMENTATION_SUMMARY.md
  server/LOGGING_IMPROVEMENTS.md
  server/TEST_PLAN.md
  server/TROUBLESHOOTING.md
  server/docs/long-running-task-recovery.md
Due: prettier --write

Update documentation and references from Claude Companion to AICLI Companion
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/api/API.md
  docs/architecture/ios-app.md
  docs/deployment.md
  docs/development/contributing.md
  docs/development/hostapp-guide.md
  docs/development/setup.md
  docs/development/testing.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/getting-started/troubleshooting.md
  docs/platform-guides/ios-guide.md
  docs/platform-guides/macos-guide.md
  docs/platform-guides/server-guide.md
Due: prettier --write

Refactor documentation and codebase to align with AICLI branding and enhance CloudKit integration
  .husky/pre-commit
  CLAUDE.md
  LICENSE
  README.md
  docs/ios/cloudkit-sync.md
  ios/App/AICLICompanion.entitlements
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/Models/CloudKit/CloudKitSchema.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/SyncStatusView.swift
  macos-app/ClaudeCompanionHost/Info.plist
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Views/QRCodeView.swift
  macos-app/project.yml
  macos-app/server_log.txt
  plan.md
  server/src/routes/devices.js
  server/src/routes/push-notifications.js
  server/src/services/push-notification.js
  server/src/test/routes/push-notifications.test.js
  server/src/test/utils/tls.test.js
  server/src/utils/tls.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

Implement server tunneling and authentication features for AICLI Companion
  docs/operations/ngrok-setup.md
  docs/server/authentication.md
  macos-app/ClaudeCompanionHost/App/AppDelegate.swift
  macos-app/ClaudeCompanionHost/Models/ServerManager.swift
  macos-app/ClaudeCompanionHost/Models/SettingsManager.swift
  macos-app/ClaudeCompanionHost/Views/MenuBarView.swift
  macos-app/ClaudeCompanionHost/Views/SettingsView.swift
  package-lock.json
  plan.md
  server/.env.example
  server/package.json
  server/src/config/middleware-config.js
  server/src/config/server-config.js
  server/src/config/server-startup.js
  server/src/index.js
  server/src/middleware/security.js
  server/src/services/tunnel.js
  test-auth.sh
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

Remove unused app icon file from macOS project
  macos-app/ClaudeCompanionHost/Assets.xcassets/AppIcon.appiconset/icon-32@2x.png
Due: none

Refactor ServerManager and related components for improved process management and logging
  macos-app/ADD_SERVER_TO_XCODE.md
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  macos-app/AICLICompanionHost/Models/ServerManagerNetworking.swift
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  macos-app/AICLICompanionHost/Models/SettingsManager.swift
  macos-app/AICLICompanionHost/Views/SettingsView.swift
Due: prettier --write

Update CI workflow and clean up Swift files for consistency
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/Models/CloudKit/CloudKitSchema.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/SyncStatusView.swift
  macos-app/AICLICompanionHost/Models/ServerManagerNetworking.swift
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  macos-app/AICLICompanionHost/Models/SettingsManager.swift
  macos-app/AICLICompanionHost/Views/SettingsView.swift
Due: swiftlint lint --format

Refactor ServerManagerProcess and SettingsManager for improved process handling and settings import
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  macos-app/AICLICompanionHost/Models/SettingsManager.swift
Due: none

Refactor logging and server management components for improved clarity and functionality
  .github/workflows/ci.yml
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/AICLICompanionHost/Models/ExecutableDiscovery.swift
  macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/ServerDiscovery.swift
  macos-app/AICLICompanionHost/Models/ServerManagerLogging.swift
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  macos-app/AICLICompanionHost/Models/ServerTypes.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorCards.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorCharts.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorComponents.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorTabs.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorView.swift
  macos-app/AICLICompanionHost/Views/MenuBarActions.swift
  macos-app/AICLICompanionHost/Views/MenuBarComponents.swift
  macos-app/AICLICompanionHost/Views/MenuBarSections.swift
  macos-app/AICLICompanionHost/Views/MenuBarView.swift
  macos-app/AICLICompanionHost/Views/NgrokSetupView.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
  macos-app/AICLICompanionHost/Views/SettingsComponents.swift
  macos-app/AICLICompanionHost/Views/SettingsDocument.swift
  macos-app/AICLICompanionHost/Views/SettingsView.swift
  macos-app/AICLICompanionHost/Views/TunnelSettingsView.swift
  macos-app/Package.swift
  macos-app/SWIFTLINT_REFACTORING_PLAN.md
Due: prettier --write

Enhance path validation and error handling across server routes and services
  macos-app/AICLICompanionHost/Resources/server/src/routes/index.js
  macos-app/AICLICompanionHost/Resources/server/src/routes/projects.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-long-running-task-manager.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-process-runner.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-utils.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli.js
  macos-app/AICLICompanionHost/Resources/server/src/services/discovery.js
  macos-app/AICLICompanionHost/Resources/server/src/test/utils/path-security.test.js
  macos-app/AICLICompanionHost/Resources/server/src/test/utils/session-parser.test.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/atomic-write.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/environment.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/index.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/path-security.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/session-parser.js
Due: none

Refactor path validation and error handling for improved security and consistency
  macos-app/AICLICompanionHost/Resources/server/src/routes/index.js
  macos-app/AICLICompanionHost/Resources/server/src/routes/projects.js
  macos-app/AICLICompanionHost/Resources/server/src/test/utils/path-security.test.js
  macos-app/AICLICompanionHost/Resources/server/src/test/utils/session-parser.test.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/atomic-write.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/environment.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/index.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/path-security.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/session-parser.js
Due: none

Enhance CI workflow and improve security in path validation
  .github/workflows/ci.yml
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-process-runner.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-utils.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli.js
  macos-app/AICLICompanionHost/Resources/server/src/test/utils/aicli-utils-security.test.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/path-security.js
Due: none

Refactor code coverage calculation in CI workflow for improved readability
  .github/workflows/ci.yml
Due: none

Enhance security in project name validation and path handling
  macos-app/AICLICompanionHost/Resources/server/src/routes/projects.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli-process-runner.js
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli.js
  macos-app/AICLICompanionHost/Resources/server/src/utils/path-security.js
Due: none

Enhance security in AICLIService path handling
  macos-app/AICLICompanionHost/Resources/server/src/services/aicli.js
Due: none

Update coverage reporting configuration and refine test command
  macos-app/AICLICompanionHost/Resources/server/.c8rc.json
  macos-app/AICLICompanionHost/Resources/server/package.json
Due: prettier --write

Add server sync functionality and update build instructions
  .gitignore
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/README_BUILD.md
  macos-app/add-build-phase.sh
  macos-app/sync-server.sh
  server/.c8rc.json
  server/package.json
  server/src/utils/environment.js
  server/src/utils/index.js
  server/src/utils/path-security.js
  server/src/utils/session-parser.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

Add server sync functionality and update build instructions
  .github/workflows/ci.yml
  server/src/utils/path-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 72: Incomplete URL substring sanitization
  server/src/test/services/tunnel.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Refactor log entry creation and update log level icons in tests
  macos-app/AICLICompanionHostTests/AICLICompanionHostTests.swift
Due: none

Update CI workflow to enforce higher code coverage threshold and add coverage check step
  .github/workflows/ci.yml
Due: none

Fix iOS app crash when WiFi is toggled off
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/WebSocketService.swift
Due: swiftlint lint --format

Fix compilation error: Remove weak self from struct
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
Due: swiftlint lint --format

Fix iOS app authentication - messages not reaching server
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
Due: swiftlint lint --format

Enhance HTTPAICLIService with improved request handling and error management
  ios/Sources/AICLICompanion/Components/Buttons/TextLinkButton.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  macos-app/.swiftlint.yml
  macos-app/AICLICompanionHost/App/AppDelegate.swift
  macos-app/AICLICompanionHost/Models/ExecutableDiscovery.swift
  macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/ServerDiscovery.swift
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  macos-app/AICLICompanionHost/Models/ServerManagerLogging.swift
  macos-app/AICLICompanionHost/Models/ServerManagerNetworking.swift
  macos-app/AICLICompanionHost/Models/ServerManagerProcess.swift
  server/src/index.js
  server/src/middleware/auth.js
  server/src/routes/api-routes.js
  server/src/routes/auth.js
  server/src/services/push-notification.js
  server/src/test/routes/auth.test.js
  server/src/test/routes/index.test.js
  server/src/test/routes/routes-coverage.test.js
  server/src/test/services/aicli-process-runner-coverage.test.js
  server/src/test/utils/environment.test.js
  server/src/test/utils/path-security.test.js
  server/src/test/utils/session-parser.test.js
  server/src/utils/index.js
  server/src/utils/session-parser.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

Refactor ProcessOutputHandling and ServerManager for improved output handling and connection string generation
  macos-app/.swiftlint.yml
  macos-app/AICLICompanionHost/Models/ProcessConfiguration.swift
  macos-app/AICLICompanionHost/Models/ProcessOutputHandling.swift
  macos-app/AICLICompanionHost/Models/ServerManager.swift
  server/src/test/routes/auth.test.js
  server/src/test/services/aicli-process-runner-coverage.test.js
  server/src/test/utils/environment.test.js
  server/src/test/utils/path-security.test.js
  server/src/test/utils/session-parser.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Path conditions:
  cd server && npx prettier --write: any of: server/src/**/*.js
  cd server && npx eslint --fix: any of: server/src/**/*.js
  swiftlint lint --format: any of: ios/**/*.swift
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
