Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: complete modularization of AICLI and push notification services
  plan.md
  server/src/services/aicli-process-runner/config.js
  server/src/services/aicli-utils.js
  server/src/services/aicli-utils/aicli-config.js
  server/src/services/aicli-utils/index.js
  server/src/services/aicli-utils/input-validator.js
  server/src/services/aicli-utils/message-processor.js
  server/src/services/push-notification.js
  server/src/services/push-notification/apns-client.js
  server/src/services/push-notification/index.js
  server/src/services/push-notification/message-formatter.js
  server/src/services/push-notification/notification-types.js
  server/src/test/services/push-notification-markdown.test.js
  server/src/test/services/push-notification-retry.test.js
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: complete modularization of AICLI and push notification services
  server/src/handlers/chat-message-handler.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update WebSocketManager and AICLI services for improved clarity and functionality
  docs/training-data/consolidated-comprehensive-findings-summary.md
  docs/training-data/json-response-fix-training-2025-09-03.md
  ios/Sources/AICLICompanion/Models/Message+CloudKit.swift
  ios/Sources/AICLICompanion/Models/SyncModels.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitModels.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSchema.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/CloudKit/ConflictResolver.swift
  ios/Sources/AICLICompanion/Services/DeviceCoordinator.swift
  ios/Sources/AICLICompanion/Services/WebSocketManager+DeviceCoordination.swift
  ios/Sources/AICLICompanion/Services/WebSocketManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel+DeviceSync.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/Components/DeviceCoordinationIndicator.swift
  ios/Sources/AICLICompanion/Views/Components/SyncStatusView.swift
  ios/Tests/AICLICompanionTests/Integration/CloudKitDeviceCoordinationIntegrationTests.swift
  ios/Tests/AICLICompanionTests/Services/CloudKitSyncManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/DeviceCoordinatorTests.swift
  ios/test_compile.swift
  issues/2-cloudkit-sync-device-coordination.md
  server/src/handlers/chat-message-handler.js
  server/src/services/aicli-process-runner/output-processor.js
  server/src/services/push-notification/index.js
  server/src/test/services/push-notification.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

feat: implement CloudKit synchronization for messages and enhance session management
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Models/Message+CloudKit.swift
  ios/Sources/AICLICompanion/Models/MessageCore.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatMessageManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel+DeviceSync.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/2-cloudkit-sync-device-coordination.md
  server/src/handlers/chat-message-handler.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/services/aicli/index.js
  server/src/services/aicli/session-operations.js
  server/src/services/push-notification/notification-types.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

feat: enhance message handling and CloudKit integration for improved synchronization
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/Models/Message+CloudKit.swift
  ios/Sources/AICLICompanion/Models/SyncModels.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitModels.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSchema.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/CloudKit/ConflictResolver.swift
  ios/Sources/AICLICompanion/Services/DeviceCoordinator.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Services/WebSocketManager+DeviceCoordination.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatMessageManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel+DeviceSync.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/Components/DeviceCoordinationIndicator.swift
  ios/Sources/AICLICompanion/Views/Components/SyncStatusView.swift
  issues/2-cloudkit-sync-device-coordination.md
  server/src/handlers/chat-message-handler.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/services/aicli/session-operations.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: streamline accessibility and connection handling across components
  ios/Sources/AICLICompanion/AccessibilityHelpers.swift
  ios/Sources/AICLICompanion/AdaptiveContentView.swift
  ios/Sources/AICLICompanion/ContentView.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/AICLI/SessionManager.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/CloudKit/ConflictResolver.swift
  ios/Sources/AICLICompanion/Services/DeviceCoordinator.swift
  ios/Sources/AICLICompanion/Services/Persistence/ConversationExporter.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/Utilities/ConnectionUtils.swift
  ios/Sources/AICLICompanion/Utilities/DateFormatterUtility.swift
  ios/Sources/AICLICompanion/Utilities/LoggerFactory.swift
  ios/Sources/AICLICompanion/Utilities/SessionKeyManager.swift
  ios/Sources/AICLICompanion/Views/Components/SyncStatusView.swift
  issues/done/complete-2-cloudkit-sync-device-coordination.md
  server/src/routes/chat.js
  server/src/routes/messages.js
  server/src/services/aicli/index.js
  server/src/services/aicli/permission-handler.js
  server/src/test/services/aicli/permission-handler.test.js
  server/src/test/utils/response-utils.test.js
  server/src/utils/response-utils.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: clean up utility files by removing unnecessary whitespace
  ios/Sources/AICLICompanion/Utilities/ConnectionUtils.swift
  ios/Sources/AICLICompanion/Utilities/DateFormatterUtility.swift
  ios/Sources/AICLICompanion/Utilities/LoggerFactory.swift
  ios/Sources/AICLICompanion/Utilities/SessionKeyManager.swift
  server/src/routes/messages.js
  server/src/test/utils/response-utils.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

chore: optimize iOS CI workflow for efficiency and clarity
  .github/workflows/ci.yml
Due: none

refactor: remove trailing whitespace in ConversationExporter for improved code cleanliness
  ios/Sources/AICLICompanion/Services/Persistence/ConversationExporter.swift
Due: swiftlint lint --format

refactor: enhance ConversationExporter date formatting for consistency and clarity
  server/src/test/services/aicli-session-manager/message-buffer-manager.test.js
  server/src/test/services/aicli-session-manager/session-monitor.test.js
  server/src/test/services/aicli-session-manager/session-router.test.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/aicli/response-emitter.test.js
  server/src/test/services/push-notification/apns-client.test.js
  server/src/test/services/push-notification/notification-types.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: improve AICLIService shutdown process and enhance session cleanup
  server/src/services/aicli/index.js
  server/src/test/integration/aicli-integration.test.js
  server/src/test/integration/aicli.test.js
  server/src/test/integration/chat.test.js
  server/src/test/integration/messages.test.js
  server/src/test/integration/permission-handler.test.js
  server/src/test/services/aicli-process-runner/output-processor.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-session-manager/message-buffer-manager.test.js
  server/src/test/services/aicli-session-manager/session-monitor.test.js
  server/src/test/services/aicli-session-manager/session-router.test.js
  server/src/test/services/aicli/index.test.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/aicli/response-emitter.test.js
  server/src/test/services/aicli/session-operations.test.js
  server/src/test/services/push-notification/apns-client.test.js
  server/src/test/services/push-notification/notification-types.test.js
  server/src/test/services/telemetry.test.js
  server/test/services/message-queue.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: improve AICLIService shutdown process and enhance session cleanup
  server/src/services/aicli/index.js
  server/src/test/services/aicli-process-runner/output-processor.test.js
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli-session-manager/session-monitor.test.js
  server/src/test/services/aicli-session-manager/session-router.test.js
  server/src/test/services/aicli/index.test.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/aicli/response-emitter.test.js
  server/src/test/services/aicli/session-operations.test.js
  server/src/test/services/push-notification/apns-client.test.js
  server/src/test/services/push-notification/notification-types.test.js
  server/src/test/services/telemetry.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test: skip AICLIService availability checks and session cleanup tests
  server/src/test/services/aicli-session-manager.test.js
  server/src/test/services/aicli/index.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: introduce chat mode selection and enhance message processing
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Models/ChatMode.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/31-planning-mode.md
  issues/done/complete-33-server-session-coordination-cloudkit.md
  server/src/handlers/chat-message-handler.js
  server/src/routes/chat.js
  server/src/services/aicli-process-runner/permission-handler.js
  server/src/services/aicli/index.js
  server/src/services/aicli/one-time-prompt.js
  server/src/services/planning-mode.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/planning-mode.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: update chat mode descriptions and streamline planning mode handling
  ios/Sources/AICLICompanion/Models/ChatMode.swift
  server/src/routes/chat.js
  server/src/services/aicli-process-runner/permission-handler.js
  server/src/services/aicli/index.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

refactor: simplify iOS CI workflow by removing test steps
  .github/workflows/ci.yml
  server/package-lock.json
  server/package.json
Due: prettier --write

chore: enhance iOS CI workflow and improve chat mode functionality
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/Models/ChatMode.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  server/src/routes/chat.js
  server/src/services/planning-mode.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/planning-mode.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

feat: implement workspace mode for cross-project operations
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/NetworkService.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/ViewModels/PlanningValidationViewModel.swift
  ios/Sources/AICLICompanion/ViewModels/ProjectCreationViewModel.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ProjectContextHeader.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
  ios/Sources/AICLICompanion/Views/ProjectCreation/PlanningValidationDashboard.swift
  ios/Sources/AICLICompanion/Views/ProjectCreation/ProjectCreationWizard.swift
  issues/32-intelligent-project-onboarding.md
  issues/done/complete-22-workspace-mode.md
  issues/done/complete-31-planning-mode.md
  server/src/index.js
  server/src/routes/project-management.js
  server/src/routes/workspace.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/services/aicli-session-manager/session-lifecycle.js
  server/src/services/project-creator.js
  server/src/services/readiness-scorer.js
  server/src/services/requirements-analyzer.js
  server/src/services/template-engine.js
  server/src/services/workspace-security.js
  server/templates/base/CLAUDE.md
  server/templates/base/README.md
  server/templates/base/plan.md
  server/templates/project-types/api-service/Dockerfile
  server/templates/project-types/api-service/package.json
  server/templates/project-types/web-app/.env.example
  server/templates/project-types/web-app/.gitignore
  server/templates/project-types/web-app/package.json
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: streamline logging and enhance message deletion in CloudKit
  ios/Sources/AICLICompanion/Services/CloudKit/CloudKitSyncManager.swift
  ios/Sources/AICLICompanion/Services/LoadingStateCoordinator.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatNotificationHandler.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

feat: implement planning validation features and enhance project management
  docs/FEATURES.md
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/Models/ChatMode.swift
  ios/Sources/AICLICompanion/Models/PlanningValidationModels.swift
  ios/Sources/AICLICompanion/Models/ServerModels.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/ViewModels/PlanningValidationViewModel.swift
  ios/Sources/AICLICompanion/ViewModels/ProjectCreationViewModel.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/WorkspaceModeToolbar.swift
  ios/Sources/AICLICompanion/Views/ProjectCreation/PlanningValidationDashboard.swift
  issues/done/32-intelligent-project-onboarding.md
  server/src/index.js
  server/src/routes/planning-validation.js
  server/src/routes/project-management.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/test/utils/path-validator.test.js
  server/src/utils/path-validator.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

fix: update notification handling and improve test coverage
  USER_TEST_NOTES.md
  existing-project/README.md
  existing-project/index.js
  existing-project/package.json
  server/src/services/push-notification/notification-types.js
  server/src/test/handlers/chat-message-handler.test.js
  server/src/test/routes/chat.test.js
  server/src/test/routes/planning-validation.test.js
  server/src/test/routes/project-management.test.js
  server/src/test/routes/workspace.test.js
  server/src/test/services/aicli/one-time-prompt.test.js
  server/src/test/services/aicli/response-emitter.test.js
  server/src/test/services/project-creator.test.js
  server/src/test/services/push-notification/notification-types.test.js
  server/src/test/services/template-engine.test.js
  server/src/test/services/workspace-security.test.js
  server/src/test/utils/path-validator.test.js
  server/src/utils/path-validator.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat: implement rate limiting and path validation enhancements in workspace operations
  server/src/routes/workspace.js
  server/src/services/project-creator.js
  server/src/services/requirements-analyzer.js
  server/src/services/template-engine.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: enhance workspace rate limiting and improve project path validation
  server/src/routes/workspace.js
  server/src/services/aicli-session-manager/session-monitor.js
  server/src/services/project-creator.js
  server/src/test/services/project-creator.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat: enhance file movement validation in workspace operations
  server/src/routes/workspace.js
  server/src/test/routes/workspace.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: improve path validation and test assertions in workspace operations
  server/src/routes/workspace.js
  server/src/test/routes/workspace.test.js
  server/src/utils/atomic-write.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor: update file handling and configuration for improved testing and security
  USER_TEST_NOTES.md
  issues/090725-1-broken-documentation-links.md
  issues/template.md
  server/src/config/server-config.js
  server/src/routes/files.js
  server/src/test/routes/files.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: enhance message handling and user experience in chat interface
  USER_TEST_NOTES.md
  docs/training-data/consolidated-comprehensive-findings-summary.md
  docs/training-data/file-routes-security-training-2025-09-08.md
  existing-project/README.md
  existing-project/index.js
  existing-project/package.json
  ios/Sources/AICLICompanion/MessagePersistenceService.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Services/Persistence/ConversationModels.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  issues/done/complete-32-intelligent-project-onboarding.md
  issues/done/complete-43-broken-documentation-links.md
  issues/done/complete-44-new-message-indicators.md
Due: swiftlint lint --format, prettier --write

chore: remove resolved issue documentation for new message indicators
  issues/done/complete-090825-1-new-message-indicators.md
  server/src/config/server-config.js
  server/src/routes/files.js
  server/src/test/routes/files.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor: implement per-project chat mode persistence and enhance workspace mode UI
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/Models/ChatMode.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Tests/AICLICompanionTests/Models/ChatModeTests.swift
  issues/done/complete-090925-2-chat-mode-persistence.md
Due: swiftlint lint --format, prettier --write

feat: update feature visibility and implement planning validation engine
  docs/FEATURES.md
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/Services/PlanningValidation/PlanningValidator.swift
  ios/Sources/AICLICompanion/Services/PlanningValidation/RequirementsTracker.swift
  ios/Sources/AICLICompanion/ViewModels/ChatViewModel+Validation.swift
  ios/Sources/AICLICompanion/ViewModels/PlanningValidationViewModel.swift
  ios/Sources/AICLICompanion/ViewModels/ProjectCreationViewModel.swift
  ios/Sources/AICLICompanion/Views/PlanningDashboard/PlanningDashboard.swift
  ios/Sources/AICLICompanion/Views/PlanningDashboard/ReadinessScoreCard.swift
  ios/Sources/AICLICompanion/Views/ProjectCreation/ProjectCreationWizard.swift
  issues/done/complete-35-project-creation-templates.md
  issues/done/complete-36-planning-validation-engine.md
  server/config/validation-rules.json
  server/src/index.js
  server/src/routes/validation.js
  server/src/services/gap-detector.js
  server/src/services/planning-validator.js
  server/src/test/services/planning-validator.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

chore: clean up user test notes and ensure consistent file formatting
  USER_TEST_NOTES.md
  ios/README.md
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/PlanningValidation/PlanningValidator.swift
  ios/Sources/AICLICompanion/Services/PlanningValidation/RequirementsTracker.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/ViewModels/ChatViewModel+Validation.swift
  ios/Sources/AICLICompanion/ViewModels/ProjectCreationViewModel.swift
  ios/Sources/AICLICompanion/Views/PlanningDashboard/PlanningDashboard.swift
  ios/Sources/AICLICompanion/Views/PlanningDashboard/ReadinessScoreCard.swift
  issues/090925-1-response-timeout-apns-failures.md
  server/src/constants/index.js
  server/src/handlers/chat-message-handler.js
  server/src/index.js
  server/src/routes/validation.js
  server/src/services/aicli-session-manager/session-monitor.js
  server/src/services/gap-detector.js
  server/src/services/planning-validator.js
  server/src/services/push-notification/notification-types.js
  server/src/services/readiness-scorer.js
  server/src/test/handlers/chat-message-handler.test.js
  server/src/test/services/aicli-session-manager/session-monitor.test.js
  server/src/test/services/duplicate-detector.test.js
  server/src/test/services/permission-manager.test.js
  server/src/test/services/planning-validator.test.js
  server/src/test/websocket/device-coordination.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: enhance chat UI and message handling for improved user experience
  USER_TEST_NOTES.md
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ScrollToBottomButton.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  issues/090906-3-thinking-response-ui-scrolling.md
  server/src/handlers/chat-message-handler.js
  server/src/test/handlers/chat-message-handler.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor: update CLAUDE.md and feature flags for user testing readiness
  CLAUDE.md
  docs/FEATURES.md
  ios/Sources/AICLICompanion/FeatureFlags.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  issues/083025-15-attachment-ui-cutoff.md
  issues/083025-34-enhanced-auto-response.md
  issues/083025-37-macos-development-companion.md
  issues/083025-7-claude-environment.md
  issues/090925-1-response-timeout-apns-failures.md
  issues/091025-1-developer-quick-actions.md
  issues/37-macos-development-companion.md
  issues/done/complete-090925-3-thinking-response-ui-scrolling.md
  issues/template.md
Due: swiftlint lint --format, prettier --write

feat: implement large message handling and fetching mechanism
  ios/Sources/AICLICompanion/AICLIService.swift
  server/src/handlers/chat-message-handler.js
  server/src/services/push-notification/notification-types.js
  server/src/test/services/push-notification/notification-types.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

refactor: rename and implement large message fetching in AICLIService
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
Due: swiftlint lint --format

fix: enhance error handling in message operations
  ios/Sources/AICLICompanion/Services/AICLI/MessageOperations.swift
Due: swiftlint lint --format

fix: improve regex patterns and payload handling in notification services
  server/issues/091025-2-project-creation-bug.md
  server/src/services/push-notification/notification-types.js
  server/src/services/requirements-analyzer.js
  server/src/test/routes/workspace.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

fix: update user test notes and server configuration for improved clarity
  USER_TEST_NOTES.md
  server/.env.example
  server/issues/091125-claude-5-minute-timeout.md
  server/src/routes/aicli-status.js
  server/src/routes/devices.js
  server/src/routes/files.js
  server/src/routes/push-notifications.js
  server/src/routes/sessions.js
  server/src/services/aicli-process-runner/command-executor.js
  server/src/services/aicli-utils/message-processor.js
  server/src/services/aicli/index.js
  server/src/services/command-security.js
  server/src/services/telemetry.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

Path conditions:
  cd server && npx prettier --write: any of: server/src/**/*.js
  cd server && npx eslint --fix: any of: server/src/**/*.js
  swiftlint lint --format: any of: ios/**/*.swift
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
