Repository dock108/aicli-companion: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

.lintstagedrc.json:

{
  "server/src/**/*.js": ["cd server && npx prettier --write", "cd server && npx eslint --fix"],
  "ios/**/*.swift": ["swiftlint lint --format"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

Revise iOS App Implementation Plan for 80% Test Coverage
  ios/Package.swift
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Tests/AICLICompanionTests/BasicTests.swift
  ios/Tests/AICLICompanionTests/Models/MessageTests.swift
  ios/Tests/AICLICompanionTests/Services/HTTPAICLIServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageValidatorTests.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockHTTPAICLIService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockKeychainManager.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockMessagePersistenceService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockWebSocketService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/TestDataFactory.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Enhance Test Coverage and Refactor Connection Management in iOS App
  ios/Sources/AICLICompanion/AICLIService.swift
  ios/Sources/AICLICompanion/ClaudeResponseStreamer.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/Services/MessageQueueManager.swift
  ios/Tests/AICLICompanionTests/Components/ButtonComponentTests.swift
  ios/Tests/AICLICompanionTests/Services/ChatSessionManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/ConversationPersistenceServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/MessagePersistenceServiceTests.swift
  ios/Tests/AICLICompanionTests/Services/MessageQueueManagerTests.swift
  ios/Tests/AICLICompanionTests/Services/SessionStatePersistenceServiceTests.swift
  ios/Tests/AICLICompanionTests/TestHelpers/MockHTTPAICLIService.swift
  ios/Tests/AICLICompanionTests/TestHelpers/TestDataFactory.swift
  ios/Tests/AICLICompanionTests/ViewModels/ChatViewModelTests.swift
  ios/Tests/AICLICompanionTests/Views/ChatViewTests.swift
  ios/Tests/AICLICompanionTests/Views/ContentViewTests.swift
  ios/Tests/AICLICompanionTests/Views/SettingsViewTests.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Remove unnecessary blank line in ClaudeResponseStreamer.swift to improve code cleanliness.
  ios/Sources/AICLICompanion/ClaudeResponseStreamer.swift
Due: swiftlint lint --format

Enhance Button Component Tests and Improve Push Notification Setup
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Tests/AICLICompanionTests/Components/ButtonComponentTests.swift
  ios/Tests/AICLICompanionTests/Services/ChatSessionManagerTests.swift
  ios/Tests/AICLICompanionTests/Views/SettingsViewTests.swift
Due: swiftlint lint --format

fix: add parallel testing controls to iOS CI build
  .github/workflows/ci.yml
  ios/Tests/AICLICompanionTests/Services/SessionStatePersistenceServiceTests.swift
Due: swiftlint lint --format

fix: resolve iOS test failures in SessionStatePersistenceServiceTests
  ios/Tests/AICLICompanionTests/Services/SessionStatePersistenceServiceTests.swift
Due: swiftlint lint --format

Refactor macOS App Test Coverage Implementation Plan
  macos-app/AICLICompanionHostTests/KeychainManagerTests.swift
  macos-app/AICLICompanionHostTests/Mocks/MockKeychainManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNetworkMonitor.swift
  macos-app/AICLICompanionHostTests/Mocks/MockNotificationManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockProcess.swift
  macos-app/AICLICompanionHostTests/Mocks/MockServerManager.swift
  macos-app/AICLICompanionHostTests/Mocks/MockSettingsManager.swift
  macos-app/AICLICompanionHostTests/Mocks/TestDataFactory.swift
  macos-app/AICLICompanionHostTests/NetworkMonitorTests.swift
  macos-app/AICLICompanionHostTests/NotificationManagerTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerTests.swift
  macos-app/AICLICompanionHostTests/ServerTypesTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerTests.swift
  macos-app/TEST_COVERAGE_SUMMARY.md
  macos-app/run-tests.sh
  plan.md
Due: prettier --write

Add unit tests and mock implementations for improved test coverage
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
Due: none

Refactor NotificationManagerTests and MockProcess for improved async handling and error simulation
  macos-app/AICLICompanionHostTests/Mocks/MockProcess.swift
  macos-app/AICLICompanionHostTests/Mocks/TestDataFactory.swift
  macos-app/AICLICompanionHostTests/NotificationManagerTests.swift
  macos-app/AICLICompanionHostTests/ServerTypesTests.swift
Due: none

Refactor CI Workflow and Update Test Coverage Files
  .github/workflows/ci.yml
  macos-app/ADD_SERVER_TO_XCODE.md
  macos-app/AICLICompanionHost.xcodeproj/project.pbxproj
  macos-app/AICLICompanionHostTests/ExecutableDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/ProcessConfigurationTests.swift
  macos-app/AICLICompanionHostTests/ProcessOutputHandlingTests.swift
  macos-app/AICLICompanionHostTests/ServerDiscoveryTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProcessTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/ServerManagerTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerProductionTests.swift
  macos-app/AICLICompanionHostTests/SettingsManagerTests.swift
  macos-app/add-build-phase.sh
  macos-app/test-results
Due: prettier --write

Revise iOS App Enhancement Plan and Update CI Workflow
  .github/workflows/ci.yml
  ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
  ios/Sources/AICLICompanion/Views/EnhancedSettingsView.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Complete enhancements for Settings View, Scroll Position Management, Auto-Response Mode, and Attachment Support in the Claude Companion iOS app.
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/SettingsManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPreview.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ScrollToBottomButton.swift
  plan.md
Due: swiftlint lint --format, prettier --write

Refactor Push Notification Service and Enhance Attachment Support in Chat
  ios/App/AppMain.swift
  ios/Sources/AICLICompanion/AppDelegate.swift
  ios/Sources/AICLICompanion/ConnectionView.swift
  ios/Sources/AICLICompanion/ConversationPersistenceService.swift
  ios/Sources/AICLICompanion/DesignSystem/Colors.swift
  ios/Sources/AICLICompanion/DesignSystem/Typography.swift
  ios/Sources/AICLICompanion/HTTPAICLIService.swift
  ios/Sources/AICLICompanion/Message.swift
  ios/Sources/AICLICompanion/MessageBubble.swift
  ios/Sources/AICLICompanion/ProjectSelectionView.swift
  ios/Sources/AICLICompanion/PushNotificationService.swift
  ios/Sources/AICLICompanion/RichContentRenderer.swift
  ios/Sources/AICLICompanion/Services/PushNotificationService.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/ViewModels/AutoResponseManager.swift
  ios/Sources/AICLICompanion/Views/Chat/ChatView.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPreview.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AutoResponseControls.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatMessageList.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ScrollToBottomButton.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ThinkingIndicator.swift
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
  ios/Sources/AICLICompanion/Views/ConnectionQualityIndicator.swift
  ios/Sources/AICLICompanion/Views/EnhancedSettingsView.swift
  ios/Sources/AICLICompanion/Views/NotificationHandler.swift
  ios/Sources/AICLICompanion/Views/PerformanceDashboard.swift
  ios/plan.md
Due: swiftlint lint --format, prettier --write

Refactor ChatViewModel for Improved Response Handling and Session Management
  ios/Sources/AICLICompanion/Views/Chat/ViewModels/ChatViewModel.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/AttachmentPicker.swift
Due: swiftlint lint --format

Update ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
Due: swiftlint lint --format

Enhance Server and macOS Compatibility for iOS Features
  ios/plan.md
  server/src/routes/chat.js
  server/src/services/aicli.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(server): implement attachment support for iOS app
  ios/plan.md
  server/src/routes/chat.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(server): implement auto-response support for iOS app
  ios/plan.md
  server/src/routes/chat.js
  server/src/services/push-notification.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(server): implement thinking indicator support
  ios/plan.md
  server/src/routes/chat.js
  server/src/services/push-notification.js
  server/src/services/stream-parser.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(macos): add feature indicators to activity monitor
  ios/plan.md
  macos-app/AICLICompanionHost/Models/ServerTypes.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorCards.swift
Due: prettier --write

feat(readme): update README with new features and configuration options
  README.md
  ios/plan.md
Due: prettier --write

feat: complete server and macOS compatibility updates
  ios/plan.md
Due: prettier --write

feat(chat): add attachment file size limit constant to ChatInputBar
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
Due: swiftlint lint --format

feat(security): implement comprehensive command controls and security infrastructure
  plan.md
  server/.env.example
  server/src/index.js
  server/src/routes/security.js
  server/src/services/aicli-process-runner.js
  server/src/services/aicli.js
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(security): complete all phases of command controls implementation
  docs/SECURITY.md
  ios/Sources/AICLICompanion/Models/SecuritySettings.swift
  ios/Sources/AICLICompanion/Services/SecurityManager.swift
  ios/Sources/AICLICompanion/SettingsView.swift
  ios/Sources/AICLICompanion/Views/Settings/SecuritySettingsView.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
  plan.md
  server/src/services/activity-monitor.js
  server/src/services/aicli-process-runner.js
  server/src/services/permission-manager.js
  server/src/test/services/command-security.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format, prettier --write

refactor(security): clean up code formatting and improve consistency
  server/src/routes/security.js
  server/src/services/activity-monitor.js
  server/src/services/aicli-process-runner.js
  server/src/services/command-security.js
  server/src/services/permission-manager.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 73: Regular expression injection
  server/package.json
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(security): enhance command security configuration and improve command validation
  package-lock.json
  server/src/services/command-security.js
  server/src/test/services/command-security.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

refactor(security): streamline code formatting and enhance readability
  ios/Sources/AICLICompanion/Models/SecuritySettings.swift
  ios/Sources/AICLICompanion/Services/SecurityManager.swift
  ios/Sources/AICLICompanion/Views/Chat/Components/ChatInputBar.swift
  ios/Sources/AICLICompanion/Views/Settings/SecuritySettingsView.swift
  macos-app/AICLICompanionHost/Views/ActivityMonitorCards.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
  server/src/index.js
  server/src/services/aicli.js
  server/src/services/command-security.js
  server/src/test/services/command-security.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, swiftlint lint --format

refactor(security): remove unused methods and streamline security settings management
  macos-app/AICLICompanionHost/Views/SecuritySettingsHelper.swift
  macos-app/AICLICompanionHost/Views/SecuritySettingsView.swift
Due: none

Potential fix for code scanning alert no. 76: Regular expression injection
  server/package.json
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write

feat(dependencies): add lodash.escaperegexp as a dependency in package-lock.json
  package-lock.json
Due: prettier --write

Update server/src/services/aicli.js
  server/src/services/aicli.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

feat(tests): add comprehensive tests for blocked command detection in CommandSecurityService
  server/src/test/services/activity-monitor.test.js
  server/src/test/services/command-security.test.js
  server/src/test/services/permission-manager-simple.test.js
  server/src/test/services/permission-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

refactor(tests): clean up test files and improve formatting
  server/src/test/services/activity-monitor.test.js
  server/src/test/services/command-security.test.js
  server/src/test/services/permission-manager-simple.test.js
  server/src/test/services/permission-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 77: Regular expression injection
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

fix(command-security): correct regex patterns for safer validation
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

test(permission-manager): enhance history size limit test for accuracy
  server/src/test/services/permission-manager.test.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix

Potential fix for code scanning alert no. 78: Regular expression injection
  server/package.json
  server/src/services/command-security.js
Due: cd server && npx prettier --write, cd server && npx eslint --fix, prettier --write
